[2017-08-30 00:12] bethac07 opened #2899 "Display padding between elements doesn't take titles into account in 3.0"
Using today's nightly on Windows 10; I've verified it happens in other modules too (every one I've tried so far) not just CorrectIlluminationCalculate:

2.2:

![display_gauss_22](https://user-images.githubusercontent.com/6721515/29849685-63249558-8cf6-11e7-9bb7-55da742baa6c.png)

3.0:

![display_gauss_30](https://user-images.githubusercontent.com/6721515/29849686-670edb74-8cf6-11e7-9aef-ecd485f727

[2017-08-30 12:18] braymp commented on #2898
Related to https://github.com/CellProfiler/CellProfiler/issues/1713? (which I thought fixed this)

[2017-08-30 12:49] bethac07 commented on #2898
Possible, but the smoothing filter size here was only 20. Whatever the
cause, it looks fine in 2.2

On Wed, Aug 30, 2017, 8:18 AM Mark Bray <notifications@github.com> wrote:

[2017-08-30 14:05] AnneCarpenter opened #2905 "Make GUI help windows print-able"
Would certainly be useful for us as we do documentation review to be able to print (or PDF) these.

It's a nice option for users in general though I'm not going to claim it's super important.

If this ends up being a >15 minute thing then forget about it!

[2017-08-30 14:08] AnneCarpenter commented on #2898
Wow, thanks for the thorough diagnosis of this, @bethac07 - glad you rooted it out!

[2017-08-30 14:21] mcquin commented on #2905
Duplicate of https://github.com/CellProfiler/CellProfiler/issues/2592

[2017-08-30 14:21] #2905 closed

[2017-08-30 18:38] #2870 closed

[2017-08-30 18:55] bethac07 opened #2909 "Workspace Viewer should be resurrected."
Please and thank you!

[2017-08-30 18:56] bethac07 opened #2910 "Remove Workspace Viewer button in 3.0.0"

[2017-08-30 19:29] braymp commented on #2909
Also see #2748.

[2017-08-30 20:49] 0x00b1 opened #2918 "Remove `libtiff` from setup.py"
It is unused and does not build easily on Linux, macOS, and Windows.

[2017-08-30 21:21] mcquin commented on #2918
#2919

[2017-08-30 21:21] #2918 closed

[2017-08-30 23:04] #2875 closed

[2017-08-30 23:06] #2877 closed

[2017-08-30 23:14] mcquin opened #2923 "Ensure all image displays have titles."
Some module image displays are missing titles. Let's ensure all displays have titles.

A good example:

<img width="752" alt="screen shot 2017-08-30 at 7 09 43 pm" src="https://user-images.githubusercontent.com/4721755/29899105-64239d84-8db7-11e7-995c-72981049e145.png">

[2017-08-31 00:42] #2892 closed

[2017-08-31 12:07] #2686 closed

[2017-08-31 13:00] AnneCarpenter commented on #2845
I think @vchernys might be motivated to work on this, since he will need it to validate his 3D segmentations for the paper?

[2017-08-31 15:51] bethac07 commented on #2881
Can be fixed by setting `self.x_name.text` and `self.y_name.text`

[2017-08-31 15:51] #2881 closed

[2017-08-31 18:01] mcquin commented on #2751
Resolved #2855

[2017-08-31 18:01] #2751 closed

[2017-08-31 18:13] bethac07 commented on #2866
On a per-module basis this can be solved by setting the `self.x_name.text` setting, if we think it's better to do this at the individual module level.

[2017-08-31 18:44] mcquin opened #2943 "Load an ExampleFly pipeline matching the CellProfiler version."
When running CellProfiler stable or beta, an example pipeline corresponding to that version should be loaded. This will prevent "Your pipeline was saved with X but you are running Y" messages. CellProfiler should grab the latest example pipeline when running from nightly or source.

We will support this feature starting with 3.0 beta release.

We can use GitHub tags in CellProfiler/examples to hos

[2017-08-31 18:49] AnneCarpenter commented on #2943
Right now the code within CP says "Grab the pipeline from URL: http://URL1" (not sure what the path actually is, but you get the idea).

One option is that every time the pipeline needs updating (due to changes in CP code), the URL number is incremented within the code the new pipeline is placed online at that new URL.

[2017-08-31 21:09] mcquin commented on #2866
This only affect the intermediate modules like `cellprofiler.modules.ImageProcessing`.

[2017-08-31 21:12] mcquin commented on #2866
Additionally, documentation strings should be added. E.g.,

[code]

[2017-08-31 23:58] #2822 closed

[2017-09-01 00:04] #2866 closed

[2017-09-01 00:07] 0x00b1 commented on #2896
Fixed. @bethac07 Would you mind verifying with the latest nightly?

[2017-09-01 00:09] 0x00b1 commented on #2675
Fixed. @AnneCarpenter Would you mind verifying with the latest nightly?

[2017-09-01 01:22] 0x00b1 commented on #2899
This is a nightmare. Littering the `figure` module with `matplotlib.pyplot.tight_layout()` accomplishes nothing.

[2017-09-01 01:52] mcquin commented on #2909
https://github.com/CellProfiler/CellProfiler/pull/2911
https://github.com/CellProfiler/CellProfiler/pull/2957

[2017-09-01 02:26] mcquin commented on #2923
Closed #2948

[2017-09-01 02:26] #2923 closed

[2017-09-01 02:26] mcquin commented on #2910
Closed #2911

[2017-09-01 02:26] #2910 closed

[2017-09-01 03:01] bethac07 commented on #2896
I don't know if nightly vs source matters, but I just pulled the most recent master commit (5cb99e616f630490d4cd35208f580484648a202d) and it's still broken.  If I need a compiled one, where would I find one that's up to date?

[2017-09-01 03:02] bethac07 opened #2959 "ClearBorder should be an Advanced module"

[2017-09-01 03:02] bethac07 commented on #2899
:( :( :(

[2017-09-01 03:53] bethac07 opened #2961 "Remove CSV/SQL mode from ExportToDatabase"
It doesn't work well and I feel is likely not utilized much, though I don't feel so strongly about it that I can't wait for Sentry data on that.

[2017-09-01 04:35] AnneCarpenter commented on #2675
Sure, I grabbed from here, hope this is accurate: https://dpvpof9ygr7ad.cloudfront.net/CellProfiler-nightly.dmg

No Ghostbusters (yay), still has unidentified developer warning, but THIS ERROR IS GONE!!  Ran the example pipeline just fine w no errors or weirdnesses  :excited kermit emoji:

[2017-09-01 11:41] braymp commented on #2961
Eeh, there a few times where I've found it helpful, but yes, it's rare. My main beef with this mode is that the output is almost exactly the same as ExportToSpreadsheet, but the CSVs have no headers (which is silly).

I think a good compromise is implementing (in part) https://github.com/CellProfiler/CellProfiler/issues/697, with the changes that it should only output the SQL file and have the use

[2017-09-01 11:50] AnneCarpenter commented on #2961
Does this option have to do with using CellProfiler Analyst conveniently?

[2017-09-01 12:14] bethac07 commented on #2961
I think that's what it was designed for, but for new/non computational
people it can be a bear to figure out; I almost always push people to
SQLite instead, there's no use case I've run across yet where that didn't
work comparably or better.

In fact IIRC it was trying and failing to figure out the CSV/SQL backend
thing ~2011 that made me decide CPA wasn't worth it and I should write my
own analys

[2017-09-01 12:54] mcquin opened #2965 "Double-click to display image doesn't work"
[code]

Also, once fixed, it should display `.npy` data.

[2017-09-01 12:55] braymp commented on #2961
LOL!

Yeah, I'm on the fence. I'm intrigued by what the Sentry data will indicate, but I wouldn't blame you so ripping it out now.

[2017-09-01 14:16] #2965 closed

[2017-09-01 14:30] #2943 closed

[2017-09-01 20:31] #2959 closed

[2017-09-01 21:03] 0x00b1 commented on #2675
Thanks, @AnneCarpenter!

[2017-09-01 21:03] #2675 closed

[2017-09-02 16:20] #2592 closed

[2017-09-02 16:53] #2768 closed

[2017-09-02 18:32] AnneCarpenter opened #2991 "Update CellProfiler logo for icons, etc."
Like champagne against the bow.

[2017-09-02 20:10] AnneCarpenter commented on #2228
should this be closed?

[2017-09-02 20:11] mcquin commented on #2228
I will close it once the changes are released in bioformats and incorporated into python-bioformats and prokaryote.

[2017-09-02 22:16] AnneCarpenter commented on #2825
Hi there! Looks like your issue was overlooked for a while... sorry about that.

Could you please post a pipeline and the images needed to feed the pipeline so we can try to diagnose it?

You might also try downloading the very latest version of CP to see if the issue goes away:
Mac: https://s3.amazonaws.com/cellprofiler-releases/CellProfiler-nightly.dmg
Windows is https://s3.amazonaws.com/cellpro

[2017-09-02 22:19] AnneCarpenter commented on #2943
I just tried with the nightly build and still got the "you need to upgrade" error. Not sure if that is expected given the timing of the commits - should I try again with tomorrow's nightly?

[2017-09-02 22:31] AnneCarpenter commented on #2943
There is some suspicion I don't have a version with commits from 3 days ago, so don't worry about this til I confirm.

[2017-09-03 00:35] mcquin commented on #2943
@AnneCarpenter Nightly will more than likely always be out of date. We're only guaranteeing a compatible version with beta or stable.

[2017-09-03 11:44] AnneCarpenter commented on #2943
Good news - it works fine in a newer version I downloaded - Allen figured out that AWS was caching too aggressively so I was getting a really old version as nightly.

[2017-09-03 12:07] AnneCarpenter commented on #2223
Hi @DuaaAli , did this one get renamed? If so, you can close this!

[2017-09-03 18:09] mcquin commented on #2895
I don't even see it...

![screen shot 2017-09-03 at 2 08 33 pm](https://user-images.githubusercontent.com/4721755/30005476-6fc428f0-90b1-11e7-8daa-f5669141a37a.png)

[2017-09-03 21:23] AnneCarpenter commented on #2895
I think on Mac it might be under "CellProfiler" in the menu?

[2017-09-04 17:31] #2991 closed

[2017-09-04 19:01] sbesson commented on #2228
@AnneCarpenter @mcquin we just released [Bio-Formats 5.7.0](http://www.openmicroscopy.org/2017/09/04/bio-formats-5-7-0.html) which should include these fixes. Let us know if you the exceptions persist.

[2017-09-04 19:07] 0x00b1 commented on #2228
Thanks, @sbesson!

[2017-09-04 19:08] AnneCarpenter opened #3004 "Rename modules: Remove holes and Morphological skeleton"
Remove holes and Morphological skeleton are the only two modules in all of CellProfiler that don’t use CamelCase in their names. For consistency, should be:
- RemoveHoles
- MorphologicalSkeleton

[2017-09-04 19:26] AnneCarpenter opened #3005 "Help > Batch processing should mention Distributed CP"
Currently one would read the documentation and think that running on a cluster is the only/best option.

@bethac07  probably will know the best way to fix this - just add a sentence at the top of the batch processing help window, then link to Distributed CP (on the wiki or wherever it is?)

And should we thus rename this help menu option from Batch Processing to "Large-scale computing", or "Large

[2017-09-04 19:49] AnneCarpenter opened #3006 "Assess and remove "File > Run Multiple Pipelines""
Just not sure if there is any major rationale to keep this? It appears to have been broken at 2.1, per this text found in content.py which has "RUN_MULTIPLE_PIPELINES_HELP"; not sure what the status is in CP 3.0:

Incidentally, I don't see any help for running multiple pipelines listed in CP's main menu... I suspect you are supposed to get to this help by doing File > Run Multiple Pipelines and th

[2017-09-04 20:06] AnneCarpenter opened #3007 "Remove internet access requirement when loading example pipeline from Welcome screen"
Is there a good reason why we don't just package the three images + example pipeline when releasing CP? It ensures a match between version of CP and pipeline version, and works even without internet access. It would allow us to tear out a fair bit of code I'd imagine.

I'm not sure why we set it up this way: possibly because we thought it'd be nice to be able to update the example all the time...

[2017-09-04 20:25] AnneCarpenter commented on #1701
Confirmed it's still the case in 3.0.0rc3

[2017-09-04 22:07] AnneCarpenter opened #3009 "Avoid using term "output" when naming images/data"
Because in each instance below it is easy to read "image output" as an adjective-noun pair instead of noun-verb pair - and once you've done that the rest of the sentence cannot be parsed and is confusing.

In CellProfiler/cellprofiler/module.py
Change this line: "Enter the name you want to call the image output by this module."
to this: "Enter the name you want to call the image produced by this m

[2017-09-04 22:14] AnneCarpenter commented on #2021
Note that this functionality is mentioned in the Threshold module as follows (I assume it's best to leave documentation as is for now):
"To view pixel intensities in an open image, use the pixel intensity tool which is available in any open display window. When you move your mouse over the image, the pixel intensities will appear in the bottom bar of the display window. "

[2017-09-05 13:24] mcquin commented on #3007
I like the argument that adding the pipeline + images to the package removes the internet requirement.

My current thinking on keeping things as they are is that it reduces duplication. We'd need to host the ExampleFly pipeline online for the website. On the other hand, we could make the website point to this repository for that pipeline.

[2017-09-05 13:47] mcquin commented on #3006
Odd!

File > Run Multiple Pipelines works in the GUI for me (OS X, source).

Is this feature used? /cc @bethac07 @karhohs

[2017-09-05 14:20] AnneCarpenter commented on #3006
Note that I didn't test whether the functionality actually works (bc I was using the nightly where nothing worked). That is cool that it does!

That leaves me with a strong prior to leave it in, then.

We could wait for Sentry data (hope we have that for menu items like this?) but we could also do a poll about any features we are thinking about ditching, on the Forum? Not a great mechanism to capt

[2017-09-05 14:51] bethac07 commented on #2896
Confirmed that it's still broken in the beta from just now.

[2017-09-05 16:01] mcquin opened #3018 "Structuring element setting doesn't detect 3D on load."
When "Process as 3D" in NamesAndTypes is "Yes" and Closing is added to the pipeline and a 3D structuring element shape is selected, a warning about requiring a 2D structuring element is raised.

[2017-09-05 16:07] bethac07 commented on #3006
I actually used to use it quite a bit in the "old days", but haven't recently.  The couple of known use cases I can think of:

* Running a pipeline and having it "trigger" the next one- ie set the illumination correction pipeline to run, then the analysis pipeline once the illumination correction images are available.
* Running multiple experiments that can't be batched due to memory etc issues- l

[2017-09-05 16:18] DuaaAli commented on #2223
Yes It is already changed.

[2017-09-05 16:18] #2223 closed

[2017-09-05 17:14] bethac07 opened #3021 "Recent windows builds don't allow you to set installation directory"
You could do this as of 8/30, can't as of the rc3 build today, so something in there.

[2017-09-05 17:16] bethac07 opened #3022 "Update icon variables in help/content to use new icons rather than old icons"

[2017-09-05 17:20] mcquin commented on #3018
@karhohs Can you please provide your pipeline file?

[2017-09-05 17:32] mcquin commented on #3006
Good to know, Beth!

Let's keep it for now, and verify its functionality.

[2017-09-05 17:35] bethac07 commented on #2269
Resolved by #3020

[2017-09-05 17:35] #2269 closed

[2017-09-05 17:35] bethac07 commented on #3005
Resolved by #3019

[2017-09-05 17:35] #3005 closed

[2017-09-05 18:25] 0x00b1 commented on #3021
Fixed. You can verify with:

https://cellprofiler-releases.s3.amazonaws.com/CellProfiler-3.0.0rc4.exe

[2017-09-05 18:25] #3021 closed

[2017-09-05 18:26] bethac07 opened #3026 "Default Input Folder setting box has disappeared"
It's still accessible from the Preferences module but it'd be nice to have it back with the DOF where it was.

![image](https://user-images.githubusercontent.com/6721515/30076186-211b3716-9246-11e7-96e0-22ec510688c6.png)

[2017-09-05 18:29] mcquin commented on #3018
The error occurs when loading a 3D pipeline. CellProfiler does not detected the pipeline as 3D until "Process as 3D" in NamesAndTypes is toggled. It should automatically pick this information up.

[2017-09-05 18:42] bethac07 commented on #3021
Verified!

[2017-09-05 19:08] bethac07 opened #3029 "MySQL-python not loading properly in Ubuntu 16.04"
From [the forum](http://forum.cellprofiler.org/t/error-loading-coloured-czi-images/5071/6):

`
I’ve tried to install the nightly version on Ubuntu 16.04 LTS (cellprofiler 3.0.0rc2 from the git hub site). It installs fine, saying that all the requirements are already satisfied. But when I try to run it, I’m getting:
`
[code]

`However, the distribution is already installed:`
[code]
`The installatio

[2017-09-05 19:30] 0x00b1 commented on #3029
Unlike most packages, `MySQL-python` requires a number of binaries and does not make a Python Wheel available on PyPI. I would recommend trying to install mysqlclient-dev:

[code]

[2017-09-05 19:51] minh-doan opened #3030 "Font resolution in CP 3.0.0rc2+"
GUI letters in new RCs are noticeably pixelated.
For comparison: a part of Mac Finder (right) next to part of CP 3.0.0rc4 GUI (left)
<img width="1084" alt="screen shot 2017-09-05 at 3 41 16 pm" src="https://user-images.githubusercontent.com/22305129/30080497-d44aa00a-9251-11e7-8bc9-8244956f335c.png">

[2017-09-05 21:14] bethac07 opened #3031 "CP rc4 tries and fails to load plugin modules on every image set"
There are two modules in the CellProfiler-plugins repo that currently fail to import; when I'm running the ExampleFly pipeline (which contains neither) every single image that runs I get the following error (with only the Worker numbers varying):

[code]

My assumption would be that CP would try to load the plugin modules once on startup (and/or maybe at analysis start or pipeline load), is it exp

[2017-09-05 21:24] bethac07 opened #3032 "'Starting workers' dialogue comes up in the middle of 'Progress counter' dialogue"
Seen this happen at least 3 times now:

`Progress CSounter({u'Unprocessed': 3})tarting workers on address tcp://127.0.0.1:{somenum}`

Unimportant but FYI

[2017-09-05 22:40] bethac07 opened #3033 "MeasureImageSkeleton should be moved to plugins"
See #2875

[2017-09-05 23:06] bethac07 opened #3035 "Object processing modules should not return outline images"
AFAIK, the new convention was that outline images would have to be explicitly generated in OverlayOutlines, rather than being generated by Object Processing modules.  The outline generation has been removed from IdentifyPrimaryObjects and FilterObjects, but remains in

- [x] EditObjectsManually
- [x] ExpandOrShrinkObjects
- [x] FilterObjects
- [x] IdentifyObjectsManually
- [x] IdentifySecondaryObj

[2017-09-06 05:47] anou85 commented on #3029
Hi, the lib was already installed...

[2017-09-06 13:49] bethac07 opened #3041 "Remove BatchProfiler references/code from CreateBatchFiles"

[2017-09-06 14:58] mcquin commented on #3031
No, I wouldn't think so.

[2017-09-06 15:01] #3009 closed

[2017-09-06 15:38] #3004 closed

[2017-09-06 15:57] mcquin commented on #3026
Default Input Folder setting box appears only when needed. E.g.,

![screen shot 2017-09-06 at 11 56 11 am](https://user-images.githubusercontent.com/4721755/30121756-81404c44-92fa-11e7-9130-c2e82e993219.png)

[2017-09-06 15:57] #3026 closed

[2017-09-06 18:19] mcquin commented on #2228
Done!

[2017-09-06 18:19] #2228 closed

[2017-09-06 19:11] mcquin opened #3048 "Watershed from "Markers" labels the background 1"
When "Generate from" is "Markers" is appears that Watershed labels the background 1 instead of 0.

Markers image
![screen shot 2017-09-06 at 3 10 44 pm](https://user-images.githubusercontent.com/4721755/30129950-9f04b326-9315-11e7-81f6-b5ff2a96aa10.png)

Expected output:
![screen shot 2017-09-06 at 3 10 40 pm](https://user-images.githubusercontent.com/4721755/30129951-9f05cafe-9315-11e7-970a-02d4c

[2017-09-06 19:30] mcquin commented on #3048
Nevermind!

For the background to get labeled 0, a user would have to supply a mask.

@karhohs will update the documentation noting the usefulness of using a mask with markers.

[2017-09-06 19:30] #3048 closed

[2017-09-06 19:46] karhohs opened #3049 "Displaying colored labels in figure causes indexing error."

[2017-09-06 19:57] bethac07 opened #3051 "Images pulled from cellprofiler.modules._help aren't rendering properly"

[2017-09-06 20:00] #3049 closed

[2017-09-06 22:02] bethac07 commented on #3051
- [ ] _help
- [ ] ExportToDatabase
- [ ] Groups
- [ ] IdentifyPrimaryObjects
- [ ] IdentifySecondaryObjects
- [ ] Images
- [ ] MeasureObjectSizeShape
- [ ] Metadata
- [ ] NamesAndTypes
- [ ] Threshold
- [ ] TrackObjects

[2017-09-06 22:36] bethac07 opened #3053 "Images_UsingRules image needs to be remade"
Despite its name, Images_UsingRules.png crops up to explain rules in a bunch of other modules; the image should therefore be remade to include just the common parts.

[2017-09-07 12:59] mcquin commented on #3051
#3052

[2017-09-07 13:34] AnneCarpenter commented on #1060
Still true in 3.0 rc4. If it is not possible to (1) can we (2)?
1) obey the eyeballs
2) once analysis has begun, do not change the eyeball status to grayed out if the user clicks them, so it's clear it is not gonna happen.

(this one might be relevant: https://github.com/CellProfiler/CellProfiler/issues/1596)

[2017-09-07 13:48] mcquin commented on #2773
Closed https://github.com/CellProfiler/CellProfiler/issues/2870#issuecomment-325016318

[2017-09-07 13:48] #2773 closed

[2017-09-07 13:52] AnneCarpenter opened #3058 "When main CP window is minimized, clicking icon in dock doesn't revive"
This is not a killer issue but normally when you click an app's icon (as at the far left of this image), the minimized app will pop back up to its regular size. For CP, nothing happens. If you click the minimized app itself (third from right) it DOES pop up properly, that's the most important thing.

![untitled](https://user-images.githubusercontent.com/1213811/30166731-30f95a7e-93b2-11e7-8834-0f6

[2017-09-07 14:04] AnneCarpenter opened #3059 "Help windows don't obey command-W to close"
(not a terrible issue)
Upon launching if you choose Help > and any of the pages there (even the welcome screen), then command-W does not close those windows. If you open a random image, command-W works fine to close that type of window, and I think Figure windows close properly too.

Choosing Window > Close all windows works for all the above mentioned types of windows, interestingly.

[2017-09-07 14:06] AnneCarpenter opened #3060 "CellProfiler windows ignore command-M to minimize"
(not a terrible issue)
Seems to be true for main GUI, help windows, open images, etc. so I think it's universal.

[2017-09-07 14:50] DuaaAli commented on #3006
I followed the instructions in the help menu to Run Multiple Pipelines and it seems to be working!

[2017-09-07 15:03] mcquin commented on #2895
Help > About was removed in the help refactor, because it appeared to do nothing. Let's open a new issue if we want this information available.

[2017-09-07 15:03] #2895 closed

[2017-09-07 15:15] mcquin commented on #2641
Verify whether or not DataTools can be used to view whole-experiment data. If it only supports single-image data, then the documentation should be updated to reflect that.

[2017-09-07 15:18] mcquin commented on #3033
It appears to be staying. @bethac07 will write documentation.

[2017-09-07 15:18] #3033 closed

[2017-09-07 15:20] mcquin commented on #2814
@mcquin needs to verify that saving & loading a pipeline with this module does/doesn't have this problem.

[2017-09-07 15:31] mcquin commented on #2496
GridSpec doesn't share xy coordinates. Either we:

- Do our own bookkeeping
- Submit a change to matplotlib allowing the functionality.

@bethac07 considers this very important for all assay development.

2D display doesn't use GridSpec. It would be possible to fix this for 2D assay development. However, fixing this would require rewriting the `Figure` constructor. @bethac07 says this would be suf

[2017-09-07 15:54] #3041 closed

[2017-09-07 15:55] mcquin opened #3062 "Highlight the current module in TestMode"
It would be nice to show users which module is about to run in TestMode. For example, if we paused TestMode on IdentifySecondaryObjects, the module name could be highlighted. Alternatively, an icon to the left of the pause icon could be added to indicate which module is about to run next. Another suggestion is to make the module text bold.

<img width="1072" alt="screen shot 2017-09-07 at 11 54 13

[2017-09-07 15:56] #3018 closed

[2017-09-07 16:17] bethac07 commented on #2641
I believe @DuaaAli was going to verify?  If it verifies pulling #3063 should be enough additional documentation; if it turns out I'm wrong then simply close that PR.

[2017-09-07 17:10] AnneCarpenter commented on #2895
I suspect what used to be there was identical to the information in the splash screen (license, authors, etc). I have no opinion as to whether that information ought to be available anywhere, TBH.

[2017-09-07 17:11] AnneCarpenter commented on #3058
I think this has always been true but for the record I'm on 10.12.6 Sierra.

[2017-09-07 17:55] #3051 closed

[2017-09-07 18:03] bethac07 opened #3065 "Remove image:: memory calls from module top docs"
Currently 8 modules call images in their top level descriptors via image:: memory:

- [x] Groups
- [x] IdentifyPrimaryObjects
- [x] IdentifySecondaryObjects
- [x] Images
- [x] MeasureObjectSizeShape
- [x] Metadata
- [x] NamesAndTypes
- [x] TrackObjects

We should fix these by calling the _help.__image_resource function instead; and verify it doesn't break showing images in the modules; maybe this

[2017-09-07 18:43] mcquin opened #3067 "Add "Run from module X" to module menu in Test Mode"
Add an option to "Run from module X" when it Test Mode to this module menu (where X is the module number):

<img width="984" alt="screen shot 2017-09-07 at 2 41 37 pm" src="https://user-images.githubusercontent.com/4721755/30179531-b8ecd5e6-93da-11e7-976c-d7a4da5acdb6.png">

It should only appear in test mode when the selected module is before the last module run in test mode. E.g., right-clicking

[2017-09-07 23:57] bethac07 opened #3069 "Icons should be accessible to both gui and sphinx"

[2017-09-08 12:44] mcquin commented on #3053
Closed #3064

[2017-09-08 12:44] #3053 closed

[2017-09-08 12:52] #3065 closed

[2017-09-08 13:04] AnneCarpenter commented on #2870
One more question, @DuaaAli : did you check the whole codebase for the old names, e.g., the Help text in other modules? I haven't found any errors, I just realized this might not be something you looked for.

[2017-09-08 13:07] bethac07 commented on #2840
Sphinx gets cranky when image pipes have the same name, so we need to give images unique names- ie `|Help_BuildPipe_image0|` rather than just `|image0|`

[2017-09-08 13:10] bethac07 opened #3077 "Refactor image pipes across the modules"
Sphinx gets cranky when image pipes have the same name, so we need to give images unique names- ie `|Help_BuildPipe_image0|` rather than just `|image0|`

My recommendation is to do `|ModuleNameOrAcronym_FunctionCall_imageNum|` .  I've already done the top level ones as just `|ModuleNameOrAcronym_imageNum|`

[2017-09-08 14:06] mcquin opened #3079 "MatchTemplate should be moved to Advanced"

[2017-09-08 14:07] mcquin commented on #3069
#3070

[2017-09-08 14:07] #3069 closed

[2017-09-08 14:08] mcquin opened #3080 "Resize should round to integer dimensions when rescaling by factor."
[code]

[2017-09-08 14:09] bethac07 commented on #3079
55/45 for keeping it in regular rather than advanced, but not a strong feeling either way.

[2017-09-08 14:11] mcquin commented on #3079
@bethac07 It needs documentation, too.

[2017-09-08 14:12] AnneCarpenter commented on #3079
I'd say there is no harm putting in Advanced and moving it later once it is very nicely documented and we have a better feel for how it works IRL.

[2017-09-08 14:37] DuaaAli commented on #2870
I guess yes, but sure I will double check .

[2017-09-08 16:35] 0x00b1 commented on #3079
I say this as someone who co-wrote (or wrote) this module, but I find MatchTemplate really difficult to use and especially difficult (or impossible) to use without relying on third-party software to create templates. While I would advocate moving to CellProfiler-plugins or the Advanced category, I will defer to the judgement of our CellProfiler users.

[2017-09-08 16:38] 0x00b1 commented on #3079
I should also stress that I still think it would be useful to provide additional feature descriptor modules. Especially since MatchTemplate feels odd without complimentary or alternative modules like CreateSURFDescriptor and MatchDescriptor (or something like that).

[2017-09-08 16:58] mcquin commented on #2814
This is broken in 3.0 for all modules using the Measurement setting.

[2017-09-08 17:18] bethac07 commented on #3079
I'm convinced by Anne plus Allen's arguments.  Advanced it is :)

[2017-09-08 19:21] bethac07 commented on #3035
Found another-

- [ ] NamesAndTypes

[2017-09-09 18:41] AnneCarpenter commented on #3079
In addition to MatchTemplate, please also move ReduceNoise to Advanced, by vote of Beth, Claire, and me.

[2017-09-10 16:59] mcquin commented on #3035
- [ ] IdentifyObjectsInGrid
- [ ] IdentifyObjectsManually
- [ ] UntangleWorms

[2017-09-11 13:26] #3080 closed

[2017-09-11 13:53] #3035 closed

[2017-09-11 16:28] bethac07 commented on #3062
This isn't working on my Windows machine- has it been tested on other Windows PCs?

[2017-09-11 17:31] mcquin commented on #3022
Partially resolved in #3090

[2017-09-11 20:36] #3067 closed

[2017-09-11 20:36] #2097 closed

[2017-09-11 20:38] mcquin commented on #3079
Closed #3084

[2017-09-11 20:38] #3079 closed

[2017-09-11 20:38] mcquin commented on #3062
Fixed! #3087

[2017-09-11 20:38] #3062 closed

[2017-09-11 22:16] braymp opened #3097 "Workspace viewer: Loading new pipeline doesn't clear current entries"
(Yes, I know the WSV is MIA for 3.0. Just wanted to get this out there for when it's resurrected).

When using the workspace viewer, if a new pipeline is loaded, the old entries do not get cleared; the new entries simply get appended to them.

However, if the selected images/objects get removed and/or the selection is changed to a current entry, the old ones get cleared at that point.

[2017-09-12 13:22] mcquin commented on #3097
#2909

[2017-09-12 14:01] bethac07 opened #3099 "Console should be optionally viewable."
Right now it's totally suppressed, would be nice to be able to turn it back on for logging purposes.

[2017-09-12 15:23] bethac07 opened #3101 "LoadData should have its own small blurb in the help menu."

[2017-09-12 16:13] mcquin commented on #3099
The console appears to be available on OS X:

[code]

Is related to #2897 ?

[2017-09-12 17:12] mcquin commented on #3099
Okay. It would be good to get more information.

[2017-09-12 17:13] minh-doan opened #3103 "[Ubuntu 16.04] Zoom and navigate buttons not shown"
For all the result windows (IdentifyPrimaryObjects, FilterObjects etc...)
<img width="893" alt="screen shot 2017-09-12 at 12 48 53 pm" src="https://user-images.githubusercontent.com/22305129/30339174-2def84b2-97bc-11e7-8477-13c4c80fe9ea.png">

[2017-09-12 17:17] minh-doan opened #3104 "[Ubuntu 16.04] Regular expression box disappear and reappear"
After entering some string in regular expression box, the box disappears.

<img width="1188" alt="screen shot 2017-09-12 at 11 15 51 am" src="https://user-images.githubusercontent.com/22305129/30339319-a48b8878-97bc-11e7-9bb6-b3255cabc353.png">

If you then hit "no" and then "yes" (for question "Extract metadata?") , the box reappears again.

<img width="1188" alt="screen shot 2017-09-12 at 11 17

[2017-09-12 17:18] minh-doan opened #3105 "[Ubuntu 16.04] Inconsistent alignment of text in ExportToDatabase"
Inconsistent alignment of text in ExportToDatabase module

<img width="1184" alt="screen shot 2017-09-12 at 12 24 29 pm" src="https://user-images.githubusercontent.com/22305129/30339396-e47b8bd6-97bc-11e7-9d15-7f3e7c8f921f.png">

[2017-09-12 17:20] bethac07 commented on #3103
Duplicate of #2679

[2017-09-12 18:21] mcquin commented on #3103
Closed as duplicate.

[2017-09-12 18:21] #3103 closed

[2017-09-13 13:45] AnneCarpenter opened #3111 "Update documentation about adaptive thresholding"
In threshold.py the description of adaptive thresholding is as follows:
*{TS_ADAPTIVE}:* Partitions the input image into tiles and calculate
   thresholds for each tile. For each tile, the calculated threshold is
   applied only to the pixels within that tile.

Is that really true? I had thought there is a smoothing step; this makes it sound like it's literally a different threshold from one tile

[2017-09-13 13:51] mcquin commented on #3111
@AnneCarpenter There's no intermediate smoothing in computing an adaptive threshold. It's a very effective technique. See: [effective local threshold with scikit-image](http://scikit-image.org/docs/dev/auto_examples/xx_applications/plot_thresholding.html#local-thresholding).

Should we include a blurb similar to the first paragraph of that example?

[2017-09-13 13:55] AnneCarpenter commented on #3111
Ohhhhh the scikit help clears it up: ok, it's working fine it's just our documentation is bad, stating that it's tiles  as opposed to neighborhoods around EACH pixel. I will fix that up shortly then.

[2017-09-13 13:57] AnneCarpenter opened #3112 "Remove unnecessary setting in IdentifyPrimary declumping?"
(not urgent, and perhaps it's too challenging to fix the logic in which case it is fine as is)

I came across this in the documentation of IdentifyPrimary:

*{UN_NONE}:* If objects are well separated and bright relative to the            |
   | background, it may be unnecessary to attempt to separate clumped objects.   |
   | Using the very fast *{UN_NONE}* option, a simple threshold will be used

[2017-09-13 15:14] mcquin commented on #3112
The documentation can be updated. Choosing "None" removes the declumping setting options that usually follow:

With declumping:
![screen shot 2017-09-13 at 11 14 06 am](https://user-images.githubusercontent.com/4721755/30385285-b060669c-9874-11e7-8e67-6f0b58dbb450.png)

Without declumping:
![screen shot 2017-09-13 at 11 12 58 am](https://user-images.githubusercontent.com/4721755/30385225-86815d2c-

[2017-09-13 15:35] AnneCarpenter commented on #3112
I'm happy to update documentation, but I am a little nervous to muck about here.

You are right if you set the first declumping Q (Method to distinguish clumped objects) to none, all subsequent declumping things disappear as shown.

But if that one is set to, say, Intensity, then the NEXT one (Method to draw dividing lines between clumped objects) pops up. It has a None option and selecting None t

[2017-09-13 15:43] mcquin commented on #3112
Ah, okay. I think I see what's going on...

1. The [documentation for 'Method to distinguish clumped objects'](https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/modules/identifyprimaryobjects.py#L495-L499) can be updated with the line "This will override any declumping method chosen in the settings below." removed, since no declumping options appear when "None" is selected ther

[2017-09-13 15:57] AnneCarpenter opened #3123 "Documentation: ResizeObjects needs an assay dev's attention"
I'm not 100% sure what it does, I guess it's ExpandOrShrink but it's only for 3D? The relationship between the two should be clarified and the documentation edited in general.

[2017-09-13 15:57] #3111 closed

[2017-09-13 15:58] mcquin commented on #3123
It's Resize but for objects instead of images.

[2017-09-13 15:59] AnneCarpenter commented on #3123
Ohhhhhh, that never even occurred to me. Definitely needs elaboration then!

[2017-09-13 18:27] minh-doan opened #3135 "[OS X, CP 3.0.0rc4] OverlayOutlines : selected color won't stick"
Changing the color of the outline won't stay in effect, always return back to default (Red, Green, etc.)

[2017-09-13 18:48] mcquin commented on #3135
@minh-doan Can you be more specific?

Is this in the module settings? Does it change back to a default color when you load the project/pipeline?

Is this in the module display? Does it not respect the value you select?

[2017-09-13 18:55] minh-doan commented on #3135
How very weird... Close and open CP3 solves the issue. I'm actually glad you don't have one more bug though. Probably close for now?

[2017-09-13 18:59] mcquin commented on #3135
Sure. We can close it for now.

[2017-09-13 18:59] #3135 closed

[2017-09-13 21:29] AnneCarpenter opened #3142 "Remove "other" category label from IdentifyDeadWorms"
It is currently tagged w two categories (Worm Toolbox, Other) and really only needs to be "Worm Toolbox".

[2017-09-14 14:46] AnneCarpenter opened #3145 "Reconcile documentation about thresholding - threshold.py vs. measureimagequality"
I believe these are the only two modules that contain text explaining three-class thresholding. I imagine the others (identifyprimary, etc) grab their text from threshold.py?

So, I think that measureimagequality needs to also grab its help text from threshold.py

At the same  time, the text in threshold.py might be written a bit nucleus-centric. That is maybe ok but if you're doing this a read-th

[2017-09-14 14:48] AnneCarpenter opened #3146 "Documentation - MeasureImageQuality: add rescale value?"
The help says the image’s rescaling value is stored as a quality control metric, shouldn’t it be added to the list in section “measurements made by this module”? It’s optional but I don't think that affects a listing.

[2017-09-14 14:57] AnneCarpenter opened #3148 "Documentation - 'merge' help between MeasureImage/ObjectIntensity"
These two modules share the following two paragraphs in common in their intro text, can the text be pulled out somewhere else to ensure they always stay in sync?

--
Note that for publication purposes, the units of intensity from
microscopy images are usually described as “Intensity units” or
“Arbitrary intensity units” because microscopes are not calibrated to an
absolute scale. Also, it is impor

[2017-09-14 15:25] AnneCarpenter opened #3150 "Documentation - Save Images: movie formats?"
In this setting ~line 226, it says the setting is only used when saving non-movie files but then it says selecting a movie format is ok, which is a little confusing - I imagine “or movie” needs to be deleted here but wasn’t sure (note PR #3149 is awaiting merge).

       self.file_format = cellprofiler.setting.Choice(
            "Saved file format",
            [
                FF_JPEG,

[2017-09-14 15:26] AnneCarpenter opened #3151 "Documentation - SaveImages: metadata allowed?"
For this chunk of code ~line 216, most similar settings have the blurbs about metadata that tell you that you can use metadata tags. Is that also true here? If so, need to paste in the proper blurbs (note PR #3149 is awaiting merge).

        self.file_name_suffix = cellprofiler.setting.Text(
            "Text to append to the image name",
            "",
            metadata=True,
            doc

[2017-09-14 15:28] AnneCarpenter opened #3152 "Documentation - Is it true Crop is the only module that can create a mask?"
It says so in the help for SaveImages, here:
-  *{IF_MASK}:* Relevant only if the **Crop** module is used. The
   **Crop** module creates a mask of the pixels of interest in the
   image. Saving the mask will produce a binary image in which the
   pixels of interest are set to 1; all other pixels are set to 0.

I was wondering if other modules might create masks too, like Threshold. I don’t know w

[2017-09-14 15:33] AnneCarpenter opened #3153 "Documentation - 'merge' help about metadata"
If you search for "substitute the metadata values " you will find 5 modules that have common text about metadata. Can the text be pulled out somewhere else to ensure they always stay in sync?

(see also #3148)

- [x] cellprofiler/modules/saveimages.py
- [x] cellprofiler/modules/loadsingleimage.py
- [x] cellprofiler/modules/calculatestatistics.py
- [x] cellprofiler/modules/exporttospreadsheet.py
-

[2017-09-14 16:41] AnneCarpenter opened #3155 "Documentation: MeasureObjectSizeShape -"
Are we sure the second sentence in this description is correct? It seems that an object w a concave boundary would be <1. Also, it’s not super clear what a concave boundary is vs a convex one.

-  *Solidity:* *(2D only)* The proportion of the pixels in the convex hull that are
   also in the object, i.e., *ObjectArea/ConvexHullArea*. Equals 1 for a
   solid object (i.e., one with no holes or has a

[2017-09-14 16:53] AnneCarpenter opened #3156 "Documenting 2D vs 3D"
At the end of the module's introductory help text, RelateObjects has this line:
This module supports 2D and 3D objects.

Have we added this to all other modules that need it? I've not seen any other modules so far.

[2017-09-14 17:02] bethac07 commented on #3156
I haven't checked it exhaustively but it should be in most of the modules that support 3D, I held up lots of people's PRs until they added it to the module docs :)

[2017-09-14 17:10] AnneCarpenter commented on #3156
Hm, a search for "This module supports 2D and 3D objects." only comes up w RelateObjects. I spot checked a couple of modules (Watershed and smooth) and I don't see any such statement. Do you suppose it was different wording or something?

[2017-09-14 17:22] bethac07 commented on #3156
The language likely was not consistent, esp WRT images/objects.  Check out
a bunch of the measures that support 3D, they should (mostly) have
something in the top level docs.

On Thu, Sep 14, 2017 at 7:10 PM, Anne Carpenter <notifications@github.com>
wrote:

--
Beth Cimini, PhD
Computational Biologist, Imaging Platform
Broad Institute
415 Main St Room 5011
Cambridge, MA 02142

[2017-09-14 18:14] AnneCarpenter opened #3160 "Remove "Save binary image" setting in MeasureAreaImageOccupied?"
In MeasureAreaImageOccupied
https://github.com/CellProfiler/CellProfiler/edit/master/cellprofiler/modules/measureimageareaoccupied.py

It seems the following option could be replaced and instead people could be guided to create an identical such image using other modules in the pipeline (I'm not the expert on which ones, but thresholding the label matrix might be a good strategy). But maybe I”m mi

[2017-09-14 18:19] AnneCarpenter opened #3161 "Remove column truncation setting in ExportToSpreadsheet?"
In ExportToSpreadsheet
https://github.com/CellProfiler/CellProfiler/edit/master/cellprofiler/modules/exporttospreadsheet.py

Do we really need a setting to avoid exporting >256 columns? Excel 2007 onwards solved this problem. Google sheets *does* have a limit of 400,000 cells, with a maximum of 256 columns per sheet, though.

But shouldn't we just delete this option and instead recommend to the us

[2017-09-14 18:20] AnneCarpenter opened #3162 "Remove "combine object m'ments" setting in ExportToSpreadsheet?"
In ExportToSpreadsheet
https://github.com/CellProfiler/CellProfiler/edit/master/cellprofiler/modules/exporttospreadsheet.py

I’m not sure why anyone would want the following option, anyone care to make a case for it?

group.append(
 "previous_file", cps.Binary(
"Combine these object measurements with those of the previous object?", False, doc="""\
*(Used only when “Export all measurements?” is set

[2017-09-14 18:22] AnneCarpenter opened #3163 "Remove downsampling option in IdentifyPrimaryObjects?"
In IdentifyPrimary
https://github.com/CellProfiler/CellProfiler/edit/master/cellprofiler/modules/identifyprimaryobjects.py

We have this setting below. What problem are we trying to solve by allowing the user to turn off downsampling? Can we make a more sophisticated calculator to make this work nicely? No downsampling if object size <10, then gradually increasing the amount of downsampling above

[2017-09-14 18:24] bethac07 commented on #3162
Case:

I extracted Nuclei, Cells, and Cytoplasm objects, and I want to look at the measurements for all of them all in one spreadsheet so I can easily directly compare and do calculations between columns rather than jumping around sheet to sheet.

[2017-09-14 18:24] AnneCarpenter opened #3164 "Extend FormFactor to 3D in MeasureObjectSizeShape?"
It seems it would be trivial to calculate using volume and surface area. I don't know that the name "form factor" would be ideal but we already tolerate using "area" when we mean "volume" etc. Is there another reason we didn't make this metric 3D?

[2017-09-14 18:25] bethac07 commented on #3162
I think it's an edge case (and does add a layer of complexity to the module, I'll be the first to admit) so I certainly won't raise a fuss about it if it went but it's a nice thing to offer people.

[2017-09-14 18:26] AnneCarpenter commented on #3162
Sounds common enough that it's worth keeping. I'm going to add that as an example in the documentation so it's more clear why it is useful.

[2017-09-14 18:26] #3162 closed

[2017-09-14 18:32] AnneCarpenter opened #3166 "Advanced settings overhaul for IdentifySecondaryObjects"
Just as IdentifyPrimaryObjects benefited from the new "Advanced settings" overhaul, let's do IdentifySecondaryObjects too. Many of the strategies will be the same.

[2017-09-14 18:34] braymp commented on #3160
I've never used the "Retain a binary image..." option myself. It's sort of like the "Retain outlines..." in the other modules; it probably should go away.

In fact, I've never used the "Binary image" option at all; it much more common to use the "Objects" option, IMHO.

[2017-09-14 19:06] braymp commented on #3162
Just to add my voice: **Please** do not remove this setting.

[2017-09-14 19:30] AnneCarpenter opened #3171 "Move "What do the settings mean?" help text"
IdentifyPrimary and IdentifySecondaryObjects have a help text section called "What do the settings mean?" near the beginning. It shows what the settings symbols mean.

1) Can these be turned into a variable so it's easy to keep in sync?
2) Can this section be placed at the very end of the intro help section so it appears nearby the actual settings?
3) Are there other modules that use these symbols

[2017-09-14 20:22] braymp commented on #3171
Re: item 3 - I think I introduced these in just the IDPrim/Sec modules, with the intent of using them more broadly, but I don't think I got around to it.

[2017-09-14 20:45] mcquin commented on #3150
The only supported file format for movies is "tif" ([source](https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/modules/saveimages.py#L774-L775)). We should update the documentation to reflect this, and also hide the file format setting when a movie is being saved.

[2017-09-14 20:47] mcquin commented on #3151
It appears that metadata tags are supported. We should update the documentation.

<img width="1072" alt="screen shot 2017-09-14 at 4 47 07 pm" src="https://user-images.githubusercontent.com/4721755/30455033-5c95f4f2-996c-11e7-866e-bfe6bfc1f10a.png">

[2017-09-14 21:00] mcquin commented on #3152
*Threshold* produces a binary image, but it does not produce a "mask" in the sense the word is used here.

Yes, these modules produce masks that you can save with **SaveImages**. It's worth updating the documentation to reflect this.

[2017-09-14 21:06] mcquin commented on #3155
@AnneCarpenter I think convex and concave are mixed up here. I found a definition of solidity as `area/convex_area` ([here](http://www.spip.imagemet.com/WebHelp6/Default.htm#PnPParameters/Measure_Shape_Parameters.htm)).

A convex shape means you can pick any two points on a boundary and the straight line between them will be entirely enclosed by the shape. A concave shape means there is some pair

[2017-09-14 21:12] mcquin commented on #3156
I noticed some say "volumetric" and others say "3D". We should make this consistent & put it in a consistent place. My vote is either at the very top or very bottom of the module documentation.

Would a table visualization be helpful/easy to use? E.g.,

[code]

(^ but with table borders)

[2017-09-14 21:13] AnneCarpenter commented on #3171
Cool - I imagine, then, it's a matter of looking for whatever unique text is used for the symbols themselves to find which modules would need this chunk of help added.

[2017-09-14 21:16] AnneCarpenter commented on #3156
Yeah, that sounds great!
Is it sensible to also include a column for 3D data loaded as 2D slices? I imagine the answer is always yes (when 2D is yes, that is). If so, we could just have that as a separate column or else change the heading to "Supports 2D (or 3D loaded as 2D slices)?"

[2017-09-14 21:17] AnneCarpenter commented on #3151
I'm on it, will do in a few minutes.

[2017-09-14 21:18] AnneCarpenter commented on #3152
I'm on it.

[2017-09-14 21:19] mcquin commented on #3161
@AnneCarpenter I'm a bit confused. This option describes the functionality you want, deleting it would mean that row/column limited formats would be automatically truncated on load.

Do you suggest that we change this to a "Google Sheets limits" setting rather than an "Excel limits" setting?

[2017-09-14 21:22] AnneCarpenter commented on #3155
Are you happy if we just delete the second sentence? People can google it.

[2017-09-14 21:23] mcquin commented on #3163
Downsampling might erase or cause too much distortion in very small objects. Additionally, someone might not want to down sample when identifying larger objects for similar reasons (e.g., distortion), or if their images are not very large.

The downsampling factor is cleverly determined by the object size. I think it's fine to give people the power to say whether or not they want to identify objec

[2017-09-14 21:27] AnneCarpenter commented on #3161
Sorry about that. I see these options:
1) Leave setting as is, but change the wording of "Excel limits" with "Google Sheets limits" (but more eloquently than that - more like "spreadsheet programs such as Google Sheets").
2) Remove the setting, and advise the user that if they need to limit their spreadsheet to 256 columns they should use the settings that allow you to pick a subset of columns to

[2017-09-14 21:27] #3163 closed

[2017-09-14 21:28] mcquin commented on #3164
We'd have to figure out what the equation is for 3D structures. I'm not sure it would also be `4 \pi area / perimiter^2`...

[2017-09-14 21:31] mcquin commented on #3155
@AnneCarpenter That's fine by me!

[2017-09-14 21:33] mcquin commented on #3161
I see! I missed that there was another option to pick columns.

I am also in favor of 2.

[2017-09-14 21:42] AnneCarpenter opened #3176 "Documentation - standardize text in Identify modules"
Primary/Secondary/Tertiary all have this exact sentence:

In CellProfiler, we use the term *object* as a generic term to refer to
an identified feature in an image, usually an organism, cell, or cellular
compartment (for example, nuclei, cells, colonies, worms).

This should be pulled out to a variable so it stays in sync.

[2017-09-14 21:45] AnneCarpenter opened #3177 "Documentation - use consistent order for help sections"
They certainly are not consistent at present (based on Primary vs Secondary vs Tertiary).

Perhaps someone knows the official rules. if not, as a straw man, I think this makes sense:
- Title, one liner, and intro help text describing the module
- Supports 2D/3D
- See also
- (module specific headings, unless they make sense elsewhere)
- What do I need as input?
- What do I get as output?
- Measurem

[2017-09-14 21:47] AnneCarpenter commented on #3155
on it.

[2017-09-14 21:52] AnneCarpenter commented on #3164
I see, so it's awaiting a deeper think into what sorts of size/shape measures make sense in 3D, that's valid. I will close this but let's wait on making an issue requesting new metrics  until.... later.

[2017-09-14 21:52] #3164 closed

[2017-09-14 23:23] bethac07 commented on #3156
That column would indeed include every 2D or 2D+3D module, since any 2D
module can handle 3D images loaded as slices (aka what people used to do
with 3D data in 2.2 and before).  Or do you mean modules that operate on
volumetrically loaded images but do so in a planewise rather than
volumetric fashion?  Let's get super precise, then figure out a sensible
standard thing we can add as a variable.

O

[2017-09-14 23:34] bethac07 commented on #3161
Tiny counterpoint-

Given the (sensible and necessary!) nesting behavior in the "Select
measurements to export", it's pretty hard to keep track of how many
measurements you're "up to".

That being said, I don't really care very much, I just tried it in 2.2 in a
couple of different use cases and some that you'd think it would handle it
just doesn't  (too many columns because of turning on "Create i

[2017-09-14 23:35] bethac07 commented on #3161
Tiny counterpoint-

Given the (sensible and necessary!) nesting behavior in the "Select
measurements to export", it's pretty hard to keep track of how many
measurements you're "up to".

That being said, I don't really care very much, I just tried it in 2.2 in a
couple of different use cases and some that you'd think it would handle it
just doesn't (too many columns because of turning on "Create im

[2017-09-14 23:39] AnneCarpenter commented on #3156
You just flew out of my league, so I'm no longer a valid discussant here :)

[2017-09-15 00:10] bethac07 commented on #3156
No, we want you as a discussant, because it's precisely for someone who
isn't totally clear on the terminology who we need to figure out how to
make it clear for.

3 possible things can happen with a 3D image:

   - You don't tell CellProfiler it's a 3D image, so CP modules treat each
   slice as a separate image- this is what people used to do in 2.2, and it's
   what would happen now if you load

[2017-09-15 13:00] mcquin opened #3180 "Documentation should be checked for typos."
Once the bulk of documentation changes are over, let's check the documentation for spelling errors.

You can do this in PyCharm:

1. Right-click the "cellprofiler/modules" directory in the directory tree and select "Inspect code..."
1. Click the "..." next to the "Inspection profile" to edit the profile.
1. In the menu list on the left, deselect everything except "Spelling > Typo". On the right, u

[2017-09-15 13:06] mcquin commented on #3156
I think that's worth highlighting (in some cases) in individual module documentation. For example, the morphology modules (which now live in Advanced), can operate on the whole volume with a 3D structuring element, or plane-wise on a whole volume with a 2D structuring element. This, however, is not normal. And, since these modules live in the Advanced category, it's not worth adding a field to ind

[2017-09-15 13:10] mcquin commented on #3177
@AnneCarpenter the manual currently does not support module settings help. It's unlikely it will in the near future.

I think that blurb could have a better home in the how to build a pipeline help. There's mention of checking the settings to see what they do. That could be a good place to point out what the symbols mean.

Additionally, I think 👍  and 👎 are pretty self-explanatory.

[2017-09-15 13:31] mcquin commented on #3151
https://github.com/CellProfiler/CellProfiler/pull/3175

[2017-09-15 13:31] #3151 closed

[2017-09-15 13:31] mcquin commented on #3152
https://github.com/CellProfiler/CellProfiler/pull/3175

[2017-09-15 13:31] #3152 closed

[2017-09-15 14:28] bethac07 commented on #3156
I quite like that!

[2017-09-15 14:55] AnneCarpenter commented on #3156
Ah, I see - it's indeed your third point I had no idea existed.

I think it'd be great when telling people which modules work on 2D vs 3D which of these flavors is possible for a given module. I think I'd need an example of the 3rd point to know whether the distinction vs 2nd is crucial to describe or not.

[2017-09-15 15:00] #3112 closed

[2017-09-15 15:01] AnneCarpenter commented on #3177
Understood about the manual not showing settings. The ordering matters for when you show the full module help in CP's GUI, which includes the settings help though.

But I think I love the idea of removing this legend from modules altogether and putting it somewhere more introductory.

But actually, I think I vote to remove it altogether. It would be a rare soul who wants to read about symbols out

[2017-09-15 15:04] mcquin commented on #3177
Cool! I love deleting stuff :P

On Sep 15, 2017 11:01, "Anne Carpenter" <notifications@github.com> wrote:

[2017-09-15 15:06] AnneCarpenter commented on #3177
I can do this one.

[2017-09-15 15:08] braymp commented on #3180
CalculateRatios -> CalculateMath: https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/modules/filterobjects.py#L39

[2017-09-15 15:26] derekthirstrup commented on #3162
I also use the "combine these objects measurements with previous object" setting in many pipelines.   If possible I would like to keep the functionality.

[2017-09-15 17:26] mcquin commented on #3171
This section will be removed: https://github.com/CellProfiler/CellProfiler/issues/3177#issuecomment-329808302

[2017-09-15 17:26] #3171 closed

[2017-09-15 17:38] mcquin commented on #3155
Resolved #3154

[2017-09-15 17:38] #3155 closed

[2017-09-15 18:18] #3148 closed

[2017-09-15 18:18] #3153 closed

[2017-09-15 18:18] #3176 closed

[2017-09-15 22:56] AnneCarpenter opened #3187 "Documentation - Does IdPrimary need this in "What do I get as output?""
If someone can confirm that the content here is true for IdentifyPrimary, we need to add it in to the help (around line 146 but there is a PR pending and I don't want to screw things up). I got this text from IdentifySecondaryObjects. It goes at the beginning of the "What do I get as output?" section of the intro help for the module.

We probably need to put this text into a help blob that we can

[2017-09-15 23:08] braymp commented on #3187
I think this blurb is misleading.
* Yes, you would need to use the SaveImages module but it's not as if the display panels are (or were ever) retained somewhere for saving purposes.
* You would need to reconstruct them using OverlayOutlines and ConvertObjectsToImage ("might be needed" makes it sound like its optional).

[2017-09-15 23:13] AnneCarpenter opened #3191 "Documentation - hole-filling behavior"
IdPrimary has an option “Fill holes in identified objects?” and this warning is provided (line 692) in the help text for the setting:
   Please note that if an object is located within a hole and
   this option is enabled, the object will be lost when the hole is
   filled in.

IdSecondary also has an option “Fill holes in identified objects?” at line ~372 - should we add the same text?

[2017-09-15 23:17] AnneCarpenter commented on #3187
Great feedback. Is this better then?

[code]

[2017-09-15 23:26] braymp commented on #3187
Close. I think something like this would do it:
[code]

[2017-09-15 23:44] AnneCarpenter commented on #3187
perfect! Needs someone other than me to make the help blob and assess the list of modules that need this.

[2017-09-16 20:21] ctrueden commented on #2394
I was discussing this project with @eliceiri yesterday—and Kevin also with @AnneCarpenter recently—and we were wondering how things are going? Any roadblocks, questions, concerns?

[2017-09-17 14:44] AnneCarpenter opened #3194 "Reconcile documentation between Smooth and CorrectIlluminationCalculate"
There is some redundancy that needs pulling into a help blob. Please wait for PR #3195 to be accepted first.

Also consider the order in which the options are displayed and which should be default (in both modules). @bethac07 hopefully has an opinion on this.

[2017-09-17 15:03] AnneCarpenter commented on #3194
The options in each context are a bit different so only some of the text can be exactly shared. Here are the settings held in common with text we want to use for each:

-  *%(SM_FIT_POLYNOMIAL)s:* This method is fastest but does not allow
   a very tight “fit” compared to the other methods. Thus, it will usually be less
   accurate. The method treats the intensity of the image
   pixels as a polyn

[2017-09-18 12:05] minh-doan opened #3196 "[Ubuntu 16.04] RescaleIntensity: not getting along well with DefineGrid + NameAndType + bad settings stuck"
1. When using module RescaleIntensity after **DefineGrid**, module **MaskImage** was forced to be used, otherwise throws error (even though no settings in RescaleIntensity deal with Grid) :
`Could not find grid Grid`
<img width="270" alt="screen shot 2017-09-16 at 4 44 54 am" src="https://user-images.githubusercontent.com/22305129/30540228-3d6e4a2c-9c44-11e7-965b-0ce364bd4f0c.png">

2. Setting "Ch

[2017-09-18 12:31] AnneCarpenter commented on #3196
Can you include pipeline and images? That makes debugging easier.

[2017-09-18 12:35] AnneCarpenter opened #3198 "Documentation - Should all modules that create objects have text about saving?"
This nice blurb is in ExpandOrShrink. It seems applicable to any object processing module, should we add it as a text blob to all?

*Note on saving images:* You can pass the modified objects along to the
*Object Processing* module **ConvertObjectsToImage** to create an image.
This image can be saved with the **SaveImages** module. Additionally,
you can use the **OverlayOutlines** or **OverlayObjec

[2017-09-18 12:45] minh-doan commented on #3196
Yes! Here they are.

[Objects_in_Grid_rescale.zip](https://github.com/CellProfiler/CellProfiler/files/1310671/Objects_in_Grid_rescale.zip)

[2017-09-18 13:24] AnneCarpenter opened #3203 "Documentation - modules missing some "Used only if X" setting descriptors"
MaskObjects (definitely)
ImageMath (I think)

[2017-09-18 13:38] #3142 closed

[2017-09-18 14:53] mcquin commented on #3177
@AnneCarpenter -- Your PRs removing "What do the settings mean?" have been merged. Is there anything else that needs to be done for this issue?d

[2017-09-18 15:52] AnneCarpenter commented on #3177
The original issue does remain, actually.
I think if @bethac07 signs off on the straw man for the 'correct' ordering then @N3llz could check through modules to find any that disobey the rules and fix them.

[2017-09-18 15:57] #3161 closed

[2017-09-18 16:27] AnneCarpenter commented on #2592
Just discovered that this solution works for module help, but doesn't work for help files that you access from the main menu such as Help > Running your pipeline.

A possible clue: when a module help window is open/focused, the only items in the menu bar (on Mac) are "CellProfiler, File, Edit". When the main menu Help windows are open, the full menu bar is retained ("CellProfiler, File, Edit, Test

[2017-09-18 16:51] #3160 closed

[2017-09-18 16:51] #3150 closed

[2017-09-18 20:44] AnneCarpenter opened #3211 "Documentation - MeasureImageSkeleton needs section "Measurements made by this module""

[2017-09-18 20:52] AnneCarpenter commented on #3211
I think it also needs a section heading "Settings".

[2017-09-18 23:24] AnneCarpenter opened #3214 "Documentation - images for MeasureObjectIntensityDistribution"
This module could really use some explanatory images for how the rings/bins are scaled (or not) and for what we mean by radial slices.

[2017-09-18 23:28] AnneCarpenter opened #3215 "Documentation - "See also" section should have a heading"
I just realized one reason it's natural to put sections out of order (see #3177) is because the "See also" section does not have a major heading. Sometimes it seems like it's in a good spot and other times not, depending on what real section it gets appended to.

We should rampage through all modules and find & replace "See also" with the proper heading structure.

[2017-09-18 23:48] AnneCarpenter opened #3217 "Documentation - FilterObjects by Rules vs Classifier"
Looks like the Classifier option was added without updating documentation relating to settings.

In the GUI, when you change from Rules to Classifier, the options all stay exactly the same except _Class number_ changes to _Class name_.

But the settings help is confusing, at the least we need to update "Select the location of the rules file" to be "Select the location of the rules file or classifi

[2017-09-18 23:51] AnneCarpenter opened #3218 "Remove ClearBorders and RemoveObjectsBySize modules"
The help for FilterObjects indicates that it works in 3D to remove objects touching the border of the image, making ClearBorders redundant.

@mcquin says "FilterObjects will clear the image border or mask border (if not objects touch the image edge). ClearBorder just clears the image border, so it's redundant. I am in favor of removing it. There is a setting in ClearBorder for removing objects N p

[2017-09-18 23:54] AnneCarpenter commented on #3218
Confirmation that FilterObjects actually does work in 3D would be reassuring before we do this!

[2017-09-18 23:58] mcquin commented on #3218
FilterObjects got 3D support in #2694

[2017-09-19 12:19] AnneCarpenter opened #3219 "Move modules from Advanced to plugins unless unique or needed for 3D"
Some of us want to add modules that represent core image processing functions, akin to those found in scikit-image. A subset of such modules currently reside in Advanced. Modules like this can be small and cleanly written and are readily understandable/findable by image processing experts.

Some of us want to minimize the number of different options presented to the user, even in a category like A

[2017-09-19 12:59] AnneCarpenter commented on #3219
And I should say: I'm honestly not sure what my preference is here!

[2017-09-19 13:24] mcquin commented on #3219
A few thoughts on combining modules:

- Skeletonization was a feature of **Morph**. We could move **MorphologicalSkeleton** back to **Morph**. However, **Morph** is not fully 3D compatible.
- **ShrinkToObjectCenters** is nominally different from **ExpandOrShrink**, which tries to preserve holes in objects whereas **ShrinkToObjectCenters** places a pixel at the centroid. Furthermore, **ExpandOrShri

[2017-09-19 13:34] AnneCarpenter commented on #3219
Super helpful. Good to know that (1) isn't really an option because few of the modules pass the filters. And it's true (2) doesn't really help too much!

It sounds like you don't find it too terrible to do this variant of (3), is that right?
4) Remove any modules that actually ARE 100% redundant right now (which are few), but retain the remaining (in-theory-redundant but in-actuality-not-yet-redun

[2017-09-19 13:41] mcquin commented on #3219
👍 I think this is the best way forward.

There's a chance there may be an upgrade path between a few modules (e.g., **MedianFilter** to **Smooth**), too. But I can't guarantee it just yet.

[2017-09-19 13:49] AnneCarpenter commented on #3218
Consensus is that this module can indeed be deleted.

[2017-09-19 14:26] AnneCarpenter commented on #3218
Also, we can delete RemoveObjectsBySize. Per @mcquin , "RemoveObjectsBySize was added Nov '16, before FilterObjects. It is redundant now that FilterObjects supports 3D. We can remove it."

[2017-09-19 14:29] AnneCarpenter opened #3222 "Move MedialAxis module to plugins"
Alternative: delete it. It's unreleased so that is allowed, but just not sure if someone sees value in keeping it as a plugin for potential future use?

[2017-09-19 14:32] 0x00b1 commented on #3222
Medial axis is useful for any problem where skeletonization is needed.

[2017-09-19 14:34] AnneCarpenter opened #3223 "Change Label module's name"
It's currently an Advanced module but it has functionality currently missing in CP's main modules.

New name (draft): ConvertImageToObjects
New category: Object processing

@mcquin: I think this is useful as a standalone module if your objects are neatly separated after thresholding. yes, this is essentially IdPrimaryObjects w/o declumping and filtering objects by size. tl;dr move to object proces

[2017-09-19 14:36] AnneCarpenter commented on #3222
Only one yes vote is needed! Let's retain it in plugins then.

[2017-09-19 14:45] 0x00b1 commented on #3219
Most of my feelings about this issue are around simplifying CellProfiler’s architecture. I don’t have much of an opinion about usefulness (I’m always surprised to learn what are useful and useless modules), but I do have opinions about maintaining CellProfiler and encouraging contributions to CellProfiler (either in the form of architectural changes or new modules). For example, I would strongly e

[2017-09-19 14:46] 0x00b1 commented on #3219
(Images, Metadata, NamesAndTypes, and Groups are also problematic but they have their own unique issues that are worth discussing elsewhere.)

[2017-09-19 14:55] #2814 closed

[2017-09-19 15:52] AnneCarpenter opened #3224 "Documentation - elaborate on Smooth/CorrectIlluminationCalculate options"
Re. options: Splines and Convex Hull... are they recommended, are they slow? Right now they are just described by pros/cons are not explained. I'm hoping someone has hands-on experience to add, but no big deal if not: @karhohs @bethac07

[2017-09-19 15:56] AnneCarpenter opened #3225 "Documentation - Smooth/CorrectIlluminationCalculate object/artifact size"
(anne) Does anyone know for certain what the code is actually doing and if it seems more like the size of objects (that you want to preserve) or artifacts (that you want to capture as the illum function)?

(mcquin) My reading of the documentation is minimum size of objects to preserve/maximum size of artifacts to capture (remove or ignore). I haven't had the time to sit down with the code, but gen

[2017-09-19 16:19] mcquin commented on #3223
Measurements are easy! I implemented a helper method which handles the basic cases. :)

[2017-09-19 17:39] AnneCarpenter commented on #3225
I am thinking of going with "Maximum artifact size to be smoothed" as the prompt for this setting, with the comment that this value should be less than the minimum typical size of objects you want to retain.

[2017-09-19 18:17] AnneCarpenter commented on #3225
Decided to leave as "artifact diameter". Smooth was already 100% accurate. CorrectIllumCalculate was a little tricky, because it really is claiming to use the *object* size to calculate the smoothing filter. Which is a little weird, but that is what it does and I think it's fine after some edits.

[2017-09-19 18:21] AnneCarpenter commented on #2545
can do

[2017-09-19 18:29] AnneCarpenter commented on #1110
I will do this (as best I can)

[2017-09-19 19:25] AnneCarpenter opened #3233 "Documentation - test mode"
It's in CellProfiler/cellprofiler/gui/help/content.py around line 540. My understanding is that test mode has changed so this help content needs checking against the current test mode.

[2017-09-19 19:39] AnneCarpenter opened #3234 "Documentation - Check accuracy for Loading Images and Stacks"
It's the section LOADING_IMAGE_SEQUENCES_HELP within CellProfiler/cellprofiler/gui/help/content.py

[2017-09-19 19:41] AnneCarpenter opened #3235 "Broken help button - Default output folder"
1) Click on "View output settings" button in CP's main window
2) click the ? button to the left of "Default output folder" - nothing happens. The other ? button works fine.

[2017-09-19 20:18] AnneCarpenter commented on #3235
I believe the same help content is accessed from Preferences window, which has ? buttons on it also. I don't know where its content is stored, but this is what it says:

The Default Output Folder is accessible by pressing the “View output settings” button at the bottom of the pipeline panel. The Default Output Folder is the folder that CellProfiler uses to store the output file it creates. Also, s

[2017-09-19 20:33] AnneCarpenter commented on #3156
I think it may be that @bethac07 and @mcquin are the only humans who would know the right answers for all the modules, and maybe not even them! As a shortcut, should we use the Y/N labeling in either of our internal spreadsheets?

* https://docs.google.com/spreadsheets/d/1x-trx9QuF9hthy5Risrbqyt4Rlp3MEuW1yvvwwRSRZQ/edit#gid=0 (Modules tab)
* https://docs.google.com/spreadsheets/d/1UhBJj7y0U7ubP-Vl

[2017-09-19 20:45] AnneCarpenter opened #3237 "Documentation - describe SaveCroppedObjects accurately"
I was told "this module takes objects as input and the output is to save (directly to disk) cropped images where the size and location is determined by each object's ROI and the image content is the raw image data. The help needs updating to reflect all this!  There is no actual "mask" function, contrary to the current description."

This conflicts w the current help for the module:
"SaveCroppedOb

[2017-09-19 20:59] #3225 closed

[2017-09-19 20:59] mcquin commented on #2545
https://github.com/CellProfiler/CellProfiler/pull/3231

[2017-09-19 20:59] #2545 closed

[2017-09-19 21:06] mcquin commented on #3233
The "Run from module" feature is documented [here](https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/gui/help/content.py#L560-L565).

We could probably add a blurb explaining that the text for the module to run next is underlined and the active module text (the one you're looking at in the GUI) is bolded.

[2017-09-19 21:08] mcquin commented on #3235
Interesting! This works for me from source. I'll need to verify in the build. Which release candidate are you using?

[2017-09-19 21:13] mcquin commented on #3237
@AnneCarpenter I updated the documentation recently. The current help is correct. Here is the module's output for the nuclei from ExampleFly:

![screen shot 2017-09-19 at 5 10 36 pm](https://user-images.githubusercontent.com/4721755/30615669-a355a294-9d5d-11e7-907f-211ef16314d6.png)

[2017-09-19 21:38] AnneCarpenter commented on #3235
Well that is bizarre! It says rc4 on it but Allen mentioned it's actually the code for rc5. I can reproduce (restarted CP just to be sure). This is not going to kill anyone if it's not easy to figure out.

[2017-09-19 21:42] mcquin commented on #3235
Okay. I'll look at RC5 tomorrow.

There's a secondary issue here. The help doesn't convert reST to HTML. It's a one-liner fix. I'll get it tomorrow.

[2017-09-19 22:02] braymp commented on #3224
Convex Hull was designed with the BF worms in a well in mind. However, I've occasionally found it useful for other IAD projects with similar intensity profiles.

I forget what project Splines was implemented for. Depending on the settings, it can be slow; the more control points included, the slower it is to compute. However, for *really* irregular illumination/background profiles, it can help sin

[2017-09-19 22:11] AnneCarpenter commented on #3224
Super, I will add this to the help. Thanks a lot!

[2017-09-19 23:35] AnneCarpenter opened #3244 "Clarify GrayToColor stacked mode"
I just submitted some edits to the help but didn't understand this Stacked mode, can someone elaborate/clarify?

"The channels are stacked in order. An arbitrary number of channels is allowed."

[2017-09-20 11:03] bethac07 commented on #3223
I know I'm a bit late to the party, but I disagree here about moving it out of advanced; it's generally superseded by IPO and/or watershed for most of its current functionality.  Or am I incorrect on that?

[2017-09-20 11:39] AnneCarpenter commented on #3223
Well, it's a good point that if it's going to be redundant someday then it doesn't deserve promotion. I am agreed w Beth. I'd still vote for the name change (though happy to hear alternatives!)

[2017-09-20 12:00] AnneCarpenter commented on #3237
Agreed!! That is pretty weird, I wish I could recall who told me that and if they are thinking of a different version of this module/plugin.

[2017-09-20 12:00] #3237 closed

[2017-09-20 12:15] mcquin commented on #3223
Threshold + ConvertImageToObjects is essentially IPO without declumping. It's tons faster than Watershed: it takes 3s to label an image of size (83, 1024, 1024), and over 4m to run watershed on the same image.

That said, I can't think of a standalone use for ConvertImageToObjects. Advanced is a good category choice.

[2017-09-20 12:58] mcquin commented on #3156
@AnneCarpenter @N3llz the first linked spreadsheet is up to date with the current modules supporting 3D. I have not been managing the second spreadsheet, I'm not as confident about its status.

(One thing to note is Images/Metadata/NamesAndTypes/Groups probably should not have this tag added to them, IMO.)

[2017-09-20 13:31] AnneCarpenter commented on #3177
Needs @bethac07 's blessing. She is flying somewhere right now though.

[2017-09-20 13:33] AnneCarpenter commented on #1110
Strangely, I don't seem to have the power to close this issue @mcquin

[2017-09-20 13:34] AnneCarpenter commented on #1594
@jhung0 I've not pondered this issue but the last msg indicates you are doing something about it... we can take over if you have a status report or understanding of what needs to be done?

[2017-09-20 13:35] AnneCarpenter commented on #3077
I bet @N3llz could do this if you explain how.

[2017-09-20 13:37] mcquin commented on #2245
Hm... it's not *super* easy to tell. There are a few indications:

1. Search for `image.mask` or, more generally, `.mask` in `cellprofiler/modules`. This generally indicates an image mask is being used and probably then applied to an operation. Similarly (though maybe not necessary for this issue), look for `image.crop_mask` or `.crop_mask`. This is an image's cropping mask, generated by **Crop**.

[2017-09-20 13:39] mcquin commented on #1110
Closed #3232

[2017-09-20 13:39] #1110 closed

[2017-09-20 13:40] mcquin commented on #1594
Resolved https://github.com/CellProfiler/CellProfiler/pull/2775

[2017-09-20 13:40] #1594 closed

[2017-09-20 13:41] mcquin commented on #3077
This may be less necessary after #3137. Let's investigate once that is merged.

[2017-09-20 13:44] AnneCarpenter commented on #2245
Cool - if we are aiming at a 'good enough' solution then I'd say searching literally for "mask" alone should suffice. Jeanelle can at least look to see whether the word is in the midst of code (vs in the intro help in a sentence that says "this module ignores masks" for example!) and if yes, it's a safe bet to add the mask verbiage above. Seem reasonable?

[2017-09-20 14:04] mcquin commented on #2245
@AnneCarpenter Yep, sounds reasonable!

[2017-09-20 14:17] mcquin commented on #3235
Very odd. It certainly doesn't work in RC4 or 5, though it works from the RC4 and 5 source tags.

[2017-09-20 14:21] AnneCarpenter commented on #2245
OK then @N3llz , have at it!

[2017-09-20 14:35] AnneCarpenter commented on #3215
This would be...
FIND:
`See also
`
REPLACE WITH:
[code]

So that a typical section looks like this:
[code]

[2017-09-20 14:35] mcquin commented on #3198
@vchernys Is taking this one on! 🎉

[2017-09-20 14:58] bethac07 commented on #3177
Consider yourself blessed ;)

On Wed, Sep 20, 2017, 2:31 PM Anne Carpenter <notifications@github.com>
wrote:

[2017-09-20 15:04] mcquin commented on #3235
The "Default Input Folder" button also doesn't work. Both are the only buttons instantiated by `__make_folder_panel`. I think the problem is somewhere in there.

[2017-09-20 15:09] AnneCarpenter commented on #3156
So, if Y on the first spreadsheet, then:
"This module supports 2D and 3D objects." (or "images")

If N on the spreadsheet, then:
"This module does not support 3D objects." (or "images")

[2017-09-20 15:11] AnneCarpenter opened #3258 "Document help on saving output from Display* modules"
Can the display produced by all Display modules be saved to an image file using SaveImages? I think so but we need to test this.

If so, add blurb reflecting this near the end of the intro help:
When run as a module, the plot is shown for display only. If you would like to save the plot, use **SaveImages** downstream in the pipeline.

If not, say so!

Please assign @N3llz

[2017-09-20 15:12] mcquin commented on #3258
You can't save figures with SaveImages.

[2017-09-20 15:31] AnneCarpenter commented on #3258
Ah! DisplayDataOnImage can but indeed it's the only one (and you're right, it doesn't save the figure per se but at least it passes the image along the pipeline). Its documentation is correct.

So let's reopen the issue to add the following to the 4 other display modules:
"At this time, the display produced when **DisplayX** is run as a module cannot be saved in the pipeline (e.g., by using SaveIm

[2017-09-20 17:50] mcquin opened #3268 "RelateObject display errors"
This appears to happen when there are a different number of objects in each segmentation:

[code]

[2017-09-20 17:55] karhohs commented on #3244
I'll tackle this one.

[2017-09-20 18:05] N3llz commented on #3156
Have we decided on "images" vs. "objects"?

[2017-09-20 18:14] bethac07 commented on #3156
Images vs Objects depends on the particular module, and sometimes it's
both.  We can either spell out the variables for all 6 cases (OBJECT_3D,
IMAGE_OBJECT_3D, etc) or just have 2 (SUPPORTS_2D, SUPPORTS_3D) and live
with having an "images and/or objects" in the setting.

Though i did like Claire's chart idea upthread!  I think you could do it as
a list table (see Morph for an example) quite easil

[2017-09-20 18:20] AnneCarpenter commented on #3156
It's a good point that perhaps we could just live without the specificity of images vs objects if we use a table instead of narrative text.

To keep it simple, I'd propose Jeanelle just add this if it's a module w N:
Supports 2D?   Supports 3D?
    YES            NO

And this if it's a module that is Y:
Supports 2D?   Supports 3D?
    YES            YES

[2017-09-20 19:48] N3llz commented on #3156
Do we like this?

[code]
![screen shot 2017-09-20 at 3 46 15 pm](https://user-images.githubusercontent.com/20823196/30664200-e545a7cc-9e1a-11e7-9616-0fbb0638ce4e.png)

[2017-09-20 19:52] N3llz commented on #3156
And in cases where there is a "Measurements made by this module" section, I'll put it immediately above that. LMK if this is good.

[2017-09-20 19:55] mcquin commented on #3156
Nice work on the table!

Do you think it would make sense to do something like:

[code]

Then the information is always easy to find and in a consistent place?

[2017-09-20 20:00] AnneCarpenter commented on #3156
I like the positioning in Jeanelle's screenshot at the end of the modules' intro help. I can't tell, @mcquin , are you proposing it go elsewhere, like right after the module name and before the one-liner description of the module?

[2017-09-20 20:01] mcquin commented on #3156
@AnneCarpenter Yes. Below the title but before any text.

[2017-09-20 20:01] N3llz commented on #3156
I agree, it needs to be consistent. Do we want it to be the first thing people see and read though? It seems like it would still be nice to have the description first.

[2017-09-20 20:01] minh-doan commented on #3258
I can try doing this

[2017-09-20 20:02] minh-doan commented on #3233
I'll do this

[2017-09-20 20:03] minh-doan commented on #3214
I can take this. But where should I add the image? directly to the module help or to the web's version?

[2017-09-20 20:04] AnneCarpenter commented on #3156
^^^ Agreed with the woman in the sunglasses. The typical user isn't doing 3D so this isn't the MOST important thing on their mind.

[2017-09-20 20:04] mcquin commented on #3214
@minh-doan Please add it to the module's help. It will automatically get pulled into the manual we publish.

[2017-09-20 20:05] mcquin commented on #3156
Sounds good. So, below the module text but before the first subheading?

[2017-09-20 20:07] AnneCarpenter commented on #3156
Right. I will edit the order in our other issue about ordering: #3177

[2017-09-20 20:08] AnneCarpenter commented on #3177
Added 2D/3D in the initial post.

[2017-09-20 20:08] AnneCarpenter commented on #3258
It's done, actually.

[2017-09-20 20:09] minh-doan commented on #3187
Taking this , (hopefully) requires less brain than others

[2017-09-20 20:09] #3258 closed

[2017-09-20 20:10] mcquin commented on #3187
@minh-doan Apologies for closing another issue, but I think this is a duplicate of https://github.com/CellProfiler/CellProfiler/issues/3198

[2017-09-20 20:10] #3187 closed

[2017-09-20 20:23] AnneCarpenter commented on #3187
Poor Minh, what luck!

The text in 3198 doesn't quite  capture the "No, you can't have the images straight from the display without some work" aspect of this, but I think it's worth having it a little less clear so that it's universally applicable and can be edited in sync.

[2017-09-20 20:30] minh-doan commented on #3187
😂
100% agree on "universally applicable" though

[2017-09-20 20:54] AnneCarpenter commented on #3030
Whoa. I compared OLD (CP 2.2.0 (rev9969f42) which has a line in this module's help) vs NEW (CP 3.0 rc5 which is accidentally labeled rc4, from Monday I believe). See the attached results on my laptop (I guess fancy Retina display?) vs. my auxiliary monitor.

![oldvsnew_monitor](https://user-images.githubusercontent.com/1213811/30667018-2694ae04-9e24-11e7-8c1d-df6e061b5299.png)
<img width="793" alt

[2017-09-21 00:23] AnneCarpenter opened #3276 "Documentation - fix formatting of formulas in CalculateStatistics"
The formatting of the formulas needs fixing in two places (search for “1 &minus”).

[2017-09-21 12:01] minh-doan commented on #3214
Do I understand it correctly?

<img width="1408" alt="screen shot 2017-09-21 at 8 00 47 am" src="https://user-images.githubusercontent.com/22305129/30694667-fcfac9b4-9ea2-11e7-885d-9fd534328d97.png">

[2017-09-21 12:41] AnneCarpenter commented on #3214
Wow, really nice! I should say I don't know how the shapes are created in this module so I'm not the one to ask about accuracy but this looks sensible to me.

I'd suggest changing the label for Magnitude to be "Magnitude: amount of intensity within each ring" and the other one "Phase (Zernike moment): distribution of intensity within each ring" (IIUC).

In this example the shape of the seed appear

[2017-09-21 12:49] 0x00b1 commented on #3191
@AnneCarpenter Yep!

[2017-09-21 13:06] minh-doan commented on #3214
Thanks Anne !
Ah yes, this image is more like if we care about only 1 object and ignore other (secondary) objects.
I'll try to integrate other objects into this image without adding too many arrows

[2017-09-21 13:13] AnneCarpenter commented on #3214
Separate images might make sense, too. YOu needn't solve all the problems at once :)

[2017-09-21 13:48] 0x00b1 commented on #1567
This was fixed a few months ago.

[2017-09-21 13:48] #1567 closed

[2017-09-21 13:50] 0x00b1 commented on #1738
I fixed this a few months ago. I really don't miss this bug.

[2017-09-21 13:50] #1738 closed

[2017-09-21 13:52] 0x00b1 commented on #1574
I talked to Bartek about this last week. It might be a good feature to add for the next release.

Is there still interest? @braymp? @AnneCarpenter? @dlogan?

[2017-09-21 13:53] 0x00b1 commented on #1571
This was fixed.

[2017-09-21 13:53] #1571 closed

[2017-09-21 14:44] #2021 closed

[2017-09-21 14:46] #3223 closed

[2017-09-21 14:48] #3268 closed

[2017-09-21 14:53] #3218 closed

[2017-09-21 15:01] #3191 closed

[2017-09-21 15:11] mcquin commented on #3211
Resolved #3279

[2017-09-21 15:11] #3211 closed

[2017-09-21 15:14] mcquin commented on #3022
I think this is done. Let's reopen when we find a specific example.

[2017-09-21 15:14] #3022 closed

[2017-09-21 15:14] mcquin commented on #2845
@vchernys is working on this, currently.

[2017-09-21 15:26] N3llz opened #3281 "Documentation - broken link in Tile module"
In the help documentation for the Tile Module, this link is broken:
http://graphicssoft.about.com/od/panorama/Panorama_Creation_and_Stitching_Tools.htm

[2017-09-21 16:26] AnneCarpenter commented on #3099
@0x00b1 will comment

[2017-09-21 17:24] 0x00b1 commented on #3099
Thanks, @AnneCarpenter. 😄

@bethac07 Is this still an issue if logs are reported to Console.app on macOS and Event Viewer on Windows? If so, we could probably do both (report errors to the operating system's logging manager and stdout in a console).

My reasoning for disabling the console window was to eliminate one of the three windows CellProfiler pops for usability (and user experience reasons)

[2017-09-21 18:22] AnneCarpenter commented on #1574
On the one hand, it's embarrassing to not have the recommended statistic in CP.

On the other hand, no end user has asked us for it, I think ever.

On the other hand, it can't be that hard to calculate a statistic.

So I've no clear opinion!

[2017-09-21 19:37] 0x00b1 commented on #1574
@AnneCarpenter Good point!

I don’t think it’s that difficult from my SBI2 notes (and the Wikipedia article), e.g.

[code]

[2017-09-21 19:40] 0x00b1 commented on #1574
A quick aside, `CalculateStatistics` is an unexpected name for this module. I would assume, from the name, it’d compute summary statistics rather than effect size measurements.

[2017-09-21 20:45] minh-doan commented on #3214
If I understand correctly:

<img width="1440" alt="screen shot 2017-09-21 at 4 43 27 pm" src="https://user-images.githubusercontent.com/22305129/30717848-266ea204-9eec-11e7-9bec-6e68ca98be7c.png">

edge vs center
<img width="1440" alt="screen shot 2017-09-21 at 4 43 52 pm" src="https://user-images.githubusercontent.com/22305129/30717865-34158634-9eec-11e7-9f65-10a613a2f560.png">

[2017-09-21 20:48] minh-doan commented on #3214
At "scale the bin" the maximum radius is the total radius right?
E.g. if I set it to 100, with 4 bin, then each bin is 25 increment?

[2017-09-21 21:37] vchernys commented on #3276
I can do this one

[2017-09-21 22:25] AnneCarpenter commented on #3214
Those fit my understanding too!  I think the only thing is that w Max Radius set to 35, 35 should label the whole distance to the edge of the cell, not the width of a single ring. Other than that things look correct to me.

I'm hoping @karhohs can check because I think he dove into this module recently and would be able to confirm the behavior you've described is correct.

[2017-09-21 22:34] AnneCarpenter commented on #1574
Yeah, I'd say the common terms for what it measures is "assay quality" (that's Z' and V) and "dose response" (that's EC50). I agree Statistics is pretty generic but I can't think of a better term that covers experiment-level statistics like these. One could make an argument for "CalculateExperimentStatistics" but then again the EC50 is per-treatment not per-experiment. So, yeah, no good solution I

[2017-09-21 22:38] AnneCarpenter commented on #2255
CellProfiler now has "SaveCroppedObjects" - it currently only saves separate images as binary masks for each object. I believe the request for the functionality described above still remains.

[2017-09-22 06:12] afolarin commented on #2255
@AnneCarpenter actually I hope to have a conversation today with @SariNusier today, #2831 is where this functionality is being worked on (not #2790)

[2017-09-22 15:34] karhohs commented on #3203
It appears that MaskObjects already has the "Used only if X" note for the "Keep overlapping region" option.

I looked at all the ImageMath operations and did not find a clear place to add the "Used only if X" note.

Could this issue be elaborated on?

[2017-09-22 15:51] braymp opened #3285 ""Getting started" button is broken in 3.0rc4"
Pressing the "Getting started" button in the "Add modules" dialog in 3.0rc4 (from source) yields the following error:
[code]

[2017-09-22 15:52] AnneCarpenter commented on #3203
In MaskImage, I assume that "Select the masking object" is only an option if you choose objects for "Mask using a region defined by other objects or binary image?"  Same for "Select the masking image".
I'm looking at rc4 so it's possible I'm out of date.

I looked more carefully at ImageMath. I think it's fine as is.

[2017-09-22 15:53] AnneCarpenter commented on #3285
Might be same cause as #3235

[2017-09-22 16:07] karhohs commented on #3203
When I compare MaskImage to MaskObjects I see where they differ. I will update MaskObjects to mirror MaskImage.

[2017-09-22 16:30] N3llz commented on #3177
Should all of these sections have the same style heading? I've found some References sections that have the carrots under them (so they are big, bold headings) and others that have just two asterisks surrounding them. I'm wondering if this is a formatting inconsistency, or if the ones with asterisks are supposed to be within the Settings sections, and therefore do not need large headings. So, 1) a

[2017-09-22 16:43] N3llz commented on #3177
I should add, some of these References seem to be embedded within the settings somehow, and must be called by a variable or something, because they don't show when I just Ctrl+F to search for "references". So if those refs SHOULDN'T be in the settings section, then this may be a separate issue. I'm thinking that some module settings do just intentionally have some of their own references?

[2017-09-22 17:08] AnneCarpenter commented on #3177
Great catch!

Generally, if references are truly a separate section they should have ^^^ like the rest of the headings.

However, it is true that some references sections are _within_ a setting, and those should only be bolded.

[2017-09-23 00:03] AnneCarpenter opened #3292 "Documentation - Tile, arrange settings in help nicely"
Right now, _Automatically calculate number of rows?_ (and columns) is at the end of the help, but it's a question shown towards the beginning of the GUI, so it is a little confusing when looking at the help.

As a more general question, is there a reason that the help sections for individual settings are not automatically shown in the order they are in the GUI? It'd be awesome if that just happene

[2017-09-23 08:44] minh-doan commented on #3233
Claire, with the underline and bolded text, do I understand correctly that it will replace the slider ? or there will be slider , just not at this release?

[2017-09-24 23:52] minh-doan commented on #3281
I'll be checking

[2017-09-25 00:46] minh-doan commented on #3281
Follow up on [3294](https://github.com/CellProfiler/CellProfiler/pull/3294)

[2017-09-25 12:05] AnneCarpenter opened #3295 "CP 3.0.0rc1 not starting up in Mac"
From the forum (link here: http://forum.cellprofiler.org/t/cp-3-0-0rc1-not-starting-up-in-mac/5104). I imagine the first line of defense is asking him to try a new build (rc5 or rc6? I think it could be rc1 he's getting thru the nightly link).

puigvert1h1
Hi,

I am really eager to see what is new in CP 3.0, but after installing the Mac version in my computer, CP 3.0 won’t start.

It appears on th

[2017-09-25 12:23] bethac07 commented on #3292
IIRC, the order you see the settings in the help is set in one of two ways:

-If there is a help_settings list, the order in which the individual
settings are listed within it (ie self.help_settings = [self.x,
self.y,self.z])

-If help_settings has not been used, it's just a list of all of the
settings in the order they're defined in the code. This is rather random;
in at least some cases I'm reas

[2017-09-25 12:23] bethac07 commented on #3233
Slider is gone for good. The new text settings replace the slider.

On Sat, Sep 23, 2017, 8:44 AM minh-doan <notifications@github.com> wrote:

[2017-09-25 12:57] AnneCarpenter commented on #3292
Super, very helpful. How is the order of the settings themselves determined for the GUI? I know some are conditional but they are always in sensible order.

So it seems like it might be reasonable to refactor to ensure that help is always in the same order for the settings themselves - at least this doesn't require deep thought for each individual module (though it may be a fair bit of work to set

[2017-09-25 13:47] braymp commented on #3292
There is (or was) a ``visible_settings`` definition which helps re: UI order. According to  https://github.com/CellProfiler/CellProfiler/wiki/Orientation-to-CellProfiler-code#set:

[2017-09-25 15:03] bethac07 commented on #3292
Yes, but I don't think all modules have visible_settings either. For those
we'd need to add something. Good point though Mark!

On Mon, Sep 25, 2017, 1:47 PM Mark Bray <notifications@github.com> wrote:

[2017-09-25 15:27] mcquin commented on #3292
@AnneCarpenter Automating the process of matching the visible settings with the help settings, is very difficult/nearly impossible given the use of conditionals to determine whether or not a setting is shown. I think the best path forward is to define `help_settings` in the order desired.

[2017-09-25 15:29] AnneCarpenter commented on #3292
👍
ok, then let's just fix this particular one and not bother w the others until someone notices they are confusing.

[2017-09-25 17:47] #3217 closed

[2017-09-25 19:46] mcquin opened #3296 "Add the manual to Help > Online Manual"
Restore [Help > Online Manual](https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/gui/help/menu.py#L21-L25).

The manual is [linked to CloudFront](https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/gui/help/menu.py#L188-L191). Let's consider using a URL we can update so that we can updated the manual after the release.

[2017-09-25 19:49] 0x00b1 commented on #3296
Something like `https://documentation.cellprofiler.org/${version_number}/`

[2017-09-25 19:53] AnneCarpenter commented on #3296
Do we want multiple copies online simultaneously?

Pro: nice for archival purposes
Con: old version of manual shows up in google searches and it might be outdated

I think I vote no, but would love to hear thoughts on this.

[2017-09-25 20:33] mcquin commented on #3296
Read The Docs supports versioned documentation: http://docs.readthedocs.io/en/latest/versions.html

[2017-09-25 20:49] AnneCarpenter commented on #3296
Interesting. It's kinda amazing that this would eliminate any hands on maintenance from us, IIUC.

If someone lands on an outdated version via Google search, I wonder how obvious it is that they are looking at the outdated version (or if there is a way to make it obvious). That'd be my only worry.

[2017-09-25 20:50] 0x00b1 commented on #3296
I agree @AnneCarpenter, this is critical! I'm routinely annoyed when I encounter old versions of TensorFlow documentation, for example, when searching.

I believe RTD manages this by de-indexing non-current versions. In my experience, it works well.

[2017-09-25 20:52] AnneCarpenter commented on #3296
At least for Read the Docs itself, there is a tiny green label at the bottom left that says v:latest. Way too subtle.
I'm not saying we need flashing red/yellow banner at the top that says "This is outdated, go [here] for the newest CP manual", but still.

So yeah, if de-indexing happens and it works, this sounds good.

I dunno if that  means every 6 weeks when the latest stable comes out, google

[2017-09-25 20:57] N3llz commented on #3215
resolved by #3290
@0x00b1 : it won't let me resolve this, but we've already merged the branch that did, so if you want to resolve this issue, it's ready.

[2017-09-25 20:58] N3llz commented on #3177
Resolved by #3289
@0x00b1 OK to close this issue

[2017-09-25 20:59] N3llz commented on #3156
Resolved by #3282
@0x00b1 OK to close this issue

[2017-09-25 22:22] minh-doan commented on #3146
I'll try to do this

[2017-09-25 22:24] minh-doan commented on #3145
I don't quite understand the second part
"if you're doing this a read-through would be in order to see whether the help as written looks just as correct sitting in the other modules as it does in IdentifyPrimary."

[2017-09-25 23:26] #3177 closed

[2017-09-25 23:27] #3156 closed

[2017-09-26 11:43] AnneCarpenter commented on #3145
There is a description of three-class thresholding in threshold.py and I believe a few modules grab that text as a variable. This is nice so we only need to update the text in one place. Therefore we want measureimagequality to also grab its help text from threshold.py

However, we also need to be sure the text actually makes sense in each context where it's used. So you should read the text in th

[2017-09-26 12:35] AnneCarpenter opened #3298 "Settings/help edits for NamesAndTypes"
For the 3 (x,y,z) spacing edit boxes in N&T, it might be not clear that these are are spacing specs and not coordinates or whatever else, so would be great as "Spacing in X" rather than just "X", etc.

I'm not sure if this is more complicated than it seems and requires running source, but if it's just a matter of changing the text I'm happy to do it, just assign me.

Also could someone please clar

[2017-09-26 13:05] minh-doan commented on #3145
I see, very clear now.
I'll see if I can do this, or maybe part of it 😁

[2017-09-26 14:32] #3214 closed

[2017-09-26 15:36] #3215 closed

[2017-09-26 16:00] 0x00b1 commented on #3298
@AnneCarpenter It’s the ratio between the x, y, and z dimensions.

[2017-09-26 20:38] #3298 closed

[2017-09-26 23:31] AnneCarpenter commented on #2289
Some style issues to verify:
- Note whether the module supports 3D (#3156)
- Note whether the module respects masks or not (#2245)
- See also should have a heading (#3215)
- Heading sections should be in right order (#3177)

I'm guessing there are lots of other things to check re code style, these just pertain to the help sections.

[2017-09-27 17:30] N3llz commented on #2245
I will add this in after the mention about 2D/3D support so that the ordering of help sections will be as follows:

- Title, one liner, and intro help text describing the module
- **This module (respects/does not respect) masks. See MaskImage and MaskObjects.**
- Supports 2D/3D
- See also
- (module specific headings, unless they make sense elsewhere)
- What do I need as input?
- What do I get as o

[2017-09-27 17:35] N3llz commented on #3177
We're also adding a note about which modules respect masking (#2245) so this is the new ordering:

- Title, one liner, and intro help text describing the module
- Supports 2D/3D
- This module (respects/does not respect) masks. See MaskImage and MaskObjects.
- See also
- (module specific headings, unless they make sense elsewhere)
- What do I need as input?
- What do I get as output?
- Measurements

[2017-09-27 17:45] N3llz commented on #3177
"Respects masks" will also be added as a new column to the 2D / 3D table (#2245)

[2017-09-27 17:59] N3llz commented on #2245
@AnneCarpenter Do you think we need any additional help text associated with the "Respects Masks?" column? Or will people know what that means? If we wanted some supporting text, it could just be an asterisk below the table, in italics, saying * _If NO, this module will ignore the mask, and use the original image_ or something like that (not sure if that's 100% true or the best way to put it!)

[2017-09-27 18:55] AnneCarpenter commented on #2245
Hm, I vote skip any clarifying language like that. It's hard to do concisely and if you don't know what it means that is ok because you won't care if it respects masks or not.

[2017-09-27 19:48] AnneCarpenter commented on #3276
I think it's done?

[2017-09-27 19:49] AnneCarpenter commented on #3203
Is this done?

[2017-09-27 20:53] vchernys commented on #3276
@AnneCarpenter, it is done and I think @0x00b1 merged it a few days ago

[2017-09-27 20:58] cells2numbers opened #3307 "Error in imageMath module "image is missing""
Error: The ImageMath module throughs the error shown below when two images are subtracted although two correct Images are chosen using the drop down menu of the module (the module is marked with a red cross).

Additional notes: the drop down menu for either the first or the second image shows an empty field; when the empty field is selected and directly afterwards another image is chosen, the erro

[2017-09-27 21:08] #3276 closed

[2017-09-28 20:13] 0x00b1 opened #3309 "Performance issues with modules that rely on SciPy’s convolve"
There’re serious performance degradation issues occurring with modules that rely on SciPy’s convolve function.

This was discovered by @karhohs when using the Closing module with an image that has a reasonable shape `(1024, 1024, 1)` and an enormous (and likely unreasonable) structuring element shape `(200, 200, 1)`.

I believe the issue is related to memory use. In the aforementioned example, Pyt

[2017-09-28 22:15] bethac07 opened #3310 "Document per well options better in ExportToDatabase"
The per-well means/medians/stdevs are only usable for MySQL (and CSV/MySQL, but I'm not sure the current status of #2961 ), not SQLite (per bb13353c36108bb18e1d524a91ab223ad7fc082a); this should be better documented in the help for ExportToDatabase.

[2017-09-28 23:36] bethac07 opened #3311 "Document where appropriate that CP can no longer save overlapping objects"
From my testing, neither ConvertObjectsToImage nor SaveCroppedObjects handle overlapping objects in such a way that they can be saved; this functionality is therefore lost (at least for now).  Time will tell how much outcry this causes, though I suspect it's actually a corner case so not that much in the grand scheme of things.

That being said, places I can think of that we may or may not want to

[2017-09-28 23:41] bethac07 opened #3312 "Restore ability to save overlapping objects. (?)"
Discussion of whether or how to restore this functionality should go here rather than in #3311 .  Since saving series of objects one at a time is basically already what SaveCroppedObjects does, my guess is that it's easier to make SaveCroppedObjects support IJV objects than to make ConvertObjectsToImage create stacks of objects where previously there was only a single image slice, but IANASE.

[2017-09-28 23:42] #3312 closed

[2017-09-29 00:57] bethac07 commented on #3222
If MeasureImageSkeleton is in Advanced (as opposed to plugins), doesn't MedialAxis need to be there too?  Otherwise MeasureImageSkeleton is useless.

[2017-09-29 09:31] AnneCarpenter commented on #3222
The bigger issue is Beth realized we use Medial Axis in real pipelines. Can we please restore it, to Advanced?

[2017-09-29 12:44] #3146 closed

[2017-09-29 12:48] minh-doan commented on #3233
@0x00b1 can close this too, via #3293

[2017-09-29 12:56] #3233 closed

[2017-09-29 12:57] 0x00b1 commented on #3222
Resolved. :)

[2017-09-29 12:57] #3222 closed

[2017-09-29 14:54] AnneCarpenter opened #3316 "Ensure the nightly we get is the nightly we want"
I continue to have problems where clicking the nightly button at cellprofiler.org/downloads gives me rc1 even though it says "Nightly (3.0.0rc6)".  :(

[2017-09-29 21:30] bethac07 opened #3318 "MeasureImageAreaOccupied returns individual object areas in 3.0"
This happens when using the "Objects" mode in MeasureImageAreaOccupied.

Compare the output from the WoundHealing example pipeline in 2.2:

![image](https://user-images.githubusercontent.com/6721515/31036779-c270e428-a53b-11e7-91e9-affbc9c533e2.png)

with the output in 3.0:

![image](https://user-images.githubusercontent.com/6721515/31036808-e0c469b8-a53b-11e7-994f-c4fdb13d006c.png)

Images and pi

[2017-09-29 22:29] bethac07 commented on #3145
From the poking around I just did, it seems like this is actually not straightforward at all; when IPO (and ISO, etc) call the documentation from Threshold, it's because they're literally calling all of Threshold's _actual settings_.  Because of how MIQ can calculate many thresholds and has to go through all of them iteratively (then checks a bunch of stuff for duplication, etc), there's a ton of

[2017-09-29 22:29] #3145 closed

[2017-09-30 22:22] minh-doan opened #3321 "DefineGrid: cannot "Leave blank" for displaying image"
At the last option of the module: "Select the image on which to display the grid"
One of the default options is to "Leave blank" >>> cannot actually leave blank
It throws error:
`
'float' object cannot be interpreted as an index
`
Set it to any image solves the error

--
OS: Mac
CP3.0.0rc5

[2017-10-02 12:22] braymp opened #3322 "Documentation: "Configuring logging" help location"
The help re: plugins https://github.com/CellProfiler/CellProfiler/pull/3317 points to going to _Help > Configuring Logging_, but that item is currently under _Help > Other features > Configuring Logging_. Either the help needs fixing or the help item should be moved.

[2017-10-02 14:05] bethac07 opened #3323 "Is MeasureImageAreaOccupied 3D?"
Our internal documentation and the help say yes (and the source code seems to have a tree for handling volumetric images), but when I try to add it to a pipeline I get the `MeasureImageAreaOccupied does not support processing 3D data and will not be added to the pipeline.` message.

[2017-10-02 16:40] bethac07 commented on #3101
Closed via #3314

[2017-10-02 16:40] #3101 closed

[2017-10-02 17:01] bethac07 opened #3326 "Change documentation to show that two class Otsu calculates differently in 2.2 vs 3.0"
The exact same image put through 2-class Otsu in 2.2 and 3.0 gives very different results (see below) whether in Global or Adaptive mode.  As far as I've tested this is specific to 2-class Otsu; 3-class Otsu and Robust Background give identical results in 2.2 and 3.0

![image](https://user-images.githubusercontent.com/6721515/31089257-6acb05ae-a771-11e7-9ece-510009aa9228.png)
[TwoClassOtsu.zip](ht

[2017-10-02 17:04] #3318 closed

[2017-10-02 17:09] bethac07 commented on #3326
It's probably worth adding that from what I can tell from the source code, we've switched from using centrosome's otsu method to skimage's, which could certainly be a plausible explanation.  Would we typically expect the results to be that different?  If this is not a bug but rather an expected change, I think it's going to be very important to make clear to people that they may not get the same r

[2017-10-02 17:12] bethac07 commented on #3323
Closed via #3324

[2017-10-02 17:12] #3323 closed

[2017-10-02 17:16] 0x00b1 commented on #3326
@bethac07 IIRC, skimage uses centrosome's Otsu. skimage's Otsu has received a number of bug fixes in the past few years so it would make sense to see some differences. However, your example, is pretty dramatic. Maybe there was some post-processing morphological step involved in the original implementation to smooth the threshold?

[2017-10-02 17:20] 0x00b1 commented on #3326
@bethac07 If you have time, it might be worth testing with OpenCV and ImageJ to compare results.

[2017-10-02 17:30] bethac07 commented on #3326
As far as I can tell the [skimage](https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/thresholding.py#L230-L295) and [centrosome](https://github.com/CellProfiler/centrosome/blob/master/centrosome/otsu.py#L3-L57) implementations don't look that related to me but IANASE.

[2017-10-02 18:46] 0x00b1 commented on #3326
I think the skimage version is the way forward. I guess we should write some documentation. Would you mind updating the subject of this issue?

[2017-10-03 09:31] AnneCarpenter commented on #3326
Wow, glad you noticed this!

Given how pervasive thresholding is in a typical image analysis pipeline, I think we should consider a warning to people loading old pipelines. When the new does not behave as the old, I don't think we'd expect users to look in the help to figure out why; they might not notice right away and then be confused why results look bad. Do we have any options for notifying so

[2017-10-03 10:59] AnneCarpenter opened #3328 "Documentation - Images module and its settings help"
It seems there is some discrepancy between the help buttons you click in the Images module and the overall module help you get when clicking ? for the entire module.

Here is the text for the first setting's help button:
![buttonnearshowfiles](https://user-images.githubusercontent.com/1213811/31121984-867cfcca-a83a-11e7-85bf-3fa85dde2986.jpeg)

But that text is not found in the overall help for th

[2017-10-03 14:14] bethac07 commented on #3326
I can't really claim all the credit, @minh-doan noticed when he was updating example pipelines that we were seeing a pretty extreme difference between 2.2 and 3.0; without him finding the original issue, I wouldn't have been able to track down the root cause!

We're working on writing up a document (for the blog/forum, though we can include it in the CP help as well if you think we should) of "thi

[2017-10-03 15:08] 0x00b1 commented on #3326
I experimented with this yesterday. CellProfiler (using `skimage.filters.threshold_otsu`) was consistent with OpenCV, ImageJ, and SimpleITK with every image I tried.

[2017-10-03 15:25] minh-doan commented on #3310
If no one has taken this yet, I'll try

[2017-10-03 17:52] minh-doan opened #3329 "RelateObjects: index out of bounds"
Calculate child-parent distance?

`
Error while processing RelateObjects:
index 300 is out of bounds for axis 0 with size 171
`

[2017-10-03 18:30] minh-doan commented on #3329
Hmm.. could be pipeline specific (uploaded here). When tested with example pipeline PercentPositive, it didn't have error.

I saw this in rc5 and rc7 (Mac)

[Images_Pipeline.zip](https://github.com/CellProfiler/CellProfiler/files/1353434/Images_Pipeline.zip)

[2017-10-03 18:43] bethac07 commented on #3329
I can reproduce on my machine; note that `Minimum` seems to run fine, but `Centroid` and `Both` give the error.

[2017-10-03 19:20] 0x00b1 commented on #3329
Verified. Here's the Sentry issue:

https://sentry.io/allen-goodman/cellprofiler/issues/361525693/

[2017-10-03 20:16] braymp opened #3330 "Crop: Error drawing figure with 0-dim output"
The 3.0rc5 pipeline produces an error when cropping with masking image of all 0s and the user requests removing all empty rows/cols:
[code]
This used to work under 2.2.0.
[issue.zip](https://github.com/CellProfiler/CellProfiler/files/1353725/issue.zip)

[2017-10-03 20:22] braymp opened #3331 "DefineGrid: Indexing error"
The attached 3.0rc5 pipeline produces an error when defining a grid:
[code]
[issue.zip](https://github.com/CellProfiler/CellProfiler/files/1353739/issue.zip)

[2017-10-04 14:34] 0x00b1 opened #3332 "Sentry should not send INFO or DEBUG messages"

[2017-10-04 14:55] 0x00b1 commented on #3331
Sentry issue: https://sentry.io/allen-goodman/cellprofiler/issues/361566130/

[2017-10-04 14:56] #3332 closed

[2017-10-04 14:56] 0x00b1 commented on #3330
Sentry issue: https://sentry.io/allen-goodman/cellprofiler/issues/361561696/

[2017-10-04 15:02] mcquin commented on #2840
#3137

[2017-10-04 15:02] #2840 closed

[2017-10-04 15:06] mcquin commented on #3235
@AnneCarpenter is this resolved in RC 7?

[2017-10-05 10:24] AnneCarpenter commented on #3235
Yes! In rc7 I tested a bunch of buttons in View output section, plus Preferences, and everything seems to work!

[2017-10-05 10:24] #3235 closed

[2017-10-05 13:29] 0x00b1 commented on #3235
Thanks, @AnneCarpenter!

[2017-10-05 18:32] dlogan commented on #1110
sorry @AnneCarpenter I lost track of this.  Your text edits read fine to me.

[2017-10-05 18:41] dlogan commented on #1574
I think this is a good idea to have SSMD (and possibly others as noted above).  But yeah, folks haven't clamored for it.  Mostly, it would give a sense of completeness, such that the biologist could in theory use CP end-to-end rather than exporting data to Excel to simply calculate SSMD, etc.

Maybe "CalculateAssayQuality" or "CalculateEffectSize" would be better names?

[2017-10-05 18:51] minh-doan opened #3334 "Failure to open new CP window from source and distribution"
File > Open new CP window , gives error:
[code]
Ubuntu 16.04
CP3.0.0rc7

[2017-10-05 18:59] mmasinas commented on #3329
Hi, we are getting the same index error on the RelateObjects module. The pipeline properly processes some of the input image sets but for some cases, in encounters an IndexError.
`File ".../src/CellProfiler/cellprofiler/modules/relateobjects.py", line 633, in get_parents_of`
`reverse_lookup[primary_parents_of_parent] = numpy.arange(1, len(primary_parents_of_parent) + 1)`
`IndexError: index 134 is

[2017-10-05 20:12] AnneCarpenter commented on #3334
Same on Mac OS 10.12 rc7 but no one is going to die of this, I don't think it should hold up release :)

[2017-10-06 14:17] braymp commented on #1574
I like "CalculateAssayQuality"

[2017-10-06 14:23] karhohs opened #3335 "Request for convex hull module"
It would be useful to have a module that takes as input a set of objects and outputs a new set of objects that contains the convex hull of each input object.

Curiously, it is possible to do this currently within CellProfiler, but it requires a workaround with the SplitOrMergeObjects module and a set of secondary objects that map 1:1 with the primary objects of interest.

[2017-10-06 14:49] AnneCarpenter commented on #1574
Well it kind of leaves out EC50, but if you'd all considered that and nobody minds that I won't object.

[2017-10-06 19:26] karhohs opened #3336 "Support per-object morphological operations"
This is a riff on #2579

The idea is if one would like to smooth a set of objects with morphological operations, currently the objects would first need to be converted into an image. Then, if any objects are close together, a smoothing morphological operation like opening would blend these cells together. However, if the operation was applied to a each object separately then the blending could be

[2017-10-07 17:27] MrMinimal64 commented on #1783
How has this been resolved? I encounter exactly the same problem. Before I tried it with Oracle's JDK 9 installed. The Q&A of the python-weka-wrapper docu says:

That's why I tried the old version then. Both tries fail similarly.

[2017-10-12 22:53] derekthirstrup opened #3338 "More interpretable warning needed when using IdentifyPrimaryObjects with 3D volumetric datasets"
I noticed that IdentifySecondaryObjects should support volumes was marked as done so I started testing IdentifyPrimary with volumetric datasets today.  I am getting the following error message "Error while processing IdentifyPrimaryObjects: structure and input must have equal rank".  Has IdentifyPrimaryObjects been upgraded to support 3D datasets?

[2017-10-12 23:37] derekthirstrup opened #3339 "IdentifySecondaryObjects should support volumes"
I noticed that IdentifySecondaryObjects should support volumes was marked as done.  I am getting the following error message when I try to use the IdentifySecondaryObjects module which is downstream from an active contour module used for the preceding nuclei segmentation step "Error while processing IdentifySecondaryObjects: all the input array dimensions except for the concatenation axis must mat

[2017-10-13 00:52] AnneCarpenter commented on #3338
No it has not, but it would be nice if there is a warning for such. Do you mind changing the title to "More interpretable warning needed when..." ?

[2017-10-13 00:54] AnneCarpenter commented on #3339
Sorry about that!
Indeed, IdentifySecondary is still marked as "NO" if you look in the  module help for "3D?"
Could you change the issue title similarly?
(where was it marked as "done"?)

[2017-10-13 13:27] braymp opened #3340 "Allow for URLs as argument with -p switch"
If pipelines are served up through URLs (e.g., via S3), it would be nice for CP to accept them through the `-p` switch.

(If already implemented, then please close)

[2017-10-13 13:28] braymp opened #3341 "Allow for URLs as argument with --data-file switch"
If image list CSVs are served up through URLs (e.g., via S3), it would be nice for CP to accept them through the `--data-file` switch.

(If already implemented, then please close)

[2017-10-13 15:55] derekthirstrup commented on #3339
The CP3D link below has kanban panels titled low, medium, high, in review, and done on the far right. When scrolling down the done panel an issue was named "IdentifySecondaryObjects should support volumes."  So, I thought it was a good time to start testing out IdentifySecondaryObjects.

https://github.com/CellProfiler/CellProfiler/projects/12

[2017-10-13 16:28] derekthirstrup opened #3342 "Watershed module with Generate from Markers option bug"
I am getting the following error message with the watershed module.  It appears to be performing a 2 fold downsampling of the image channel while leaving the marker channel at the original XY dimensions leading to the following error message "markers shape must have same shape as image".  I can add a resize module to upsample the image dimension so that the downsampling in the watershed step doesn

[2017-10-13 20:32] AnneCarpenter commented on #3342
Great catch!

[2017-10-16 12:38] minh-doan opened #3343 "Input "Images" module help menu"
The embedded images in this help menu is missing, and are replaced by a red "X" that is way too big.

![screen shot 2017-10-15 at 10 55 41 pm](https://user-images.githubusercontent.com/22305129/31612330-63f79936-b24d-11e7-987e-ca18f2f9f48f.png)

[2017-10-16 12:39] minh-doan opened #3344 "MeasureObjectIntensityDistribution help menu couldn't start"
Clicking "?" for help menu brings this error:

[code]

[2017-10-16 18:11] AnneCarpenter opened #3345 "Sign 3.0 so it's not from an unidentified developer"

[2017-10-16 19:08] 0x00b1 commented on #3345
Fixed. Signed after signed.

https://youtu.be/VdQY7BusJNU

[2017-10-16 19:08] #3345 closed

[2017-10-16 19:18] bethac07 commented on #3344
Verified in Windows release.

[2017-10-16 19:18] bethac07 opened #3346 "Images don't appear in help in 3.0.0 release"
All images in any help menu (that I've tried so far at least) just show up as red X's.  Likely #3343 is a small subset of this.

[2017-10-17 00:11] AnneCarpenter opened #3347 "CP 3.0 doesn't start up"
I downloaded the 187.6 MB  CellProfiler-3.0.0.dmg from cellprofiler.org/releases just now at 8 pm.

I get the nice window that shows you to drag CP to the Apps folder. Once it copied over it produces a 330.1 MB app in the Apps folder (timestamp 2:53 pm).

Doubleclicking it says, this is downloaded from the internet - do you want to open it? I say yes but it never opens. The bouncing icon in the do

[2017-10-18 22:51] bethac07 opened #3348 "Remove "centroid" language from MeasureObjectSizeShape help"
Line 83.  I believe this was added in error (though please correct me if that is mathematically correct); I thought we caught it in the review process but it seems to have slipped through.

[2017-10-19 13:20] #3348 closed

[2017-10-19 18:51] 0x00b1 commented on #3347
Resolved

[2017-10-19 18:51] #3347 closed

[2017-10-19 19:10] bethac07 opened #3349 "Change Morph's upgrade_settings to allow loading the rest of the pipeline."
When upgrading pipelines from 2.2 to 3.0, the biggest problem I've run across so far is in pipelines that contain Morph; if the Morph option is one that has now moved to its own module, you hit the [raise at line 587](https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/modules/morph.py#L587) and whether you hit "cancel" or "continue processing" on the error message (see below) th

[2017-10-19 19:38] dlogan opened #3350 "Error upon double-clicking image in Images module"
I drag some images in to 3.00 (stable release, Windows binary).  Then double-click an image in the image list and get this:

![image](https://user-images.githubusercontent.com/1225595/31790461-87fd73da-b4e3-11e7-87f3-0b87b5986efa.png)

[2017-10-19 20:24] bethac07 opened #3351 "MeasureImageQuality should inherit thresholding from Threshold"
Among other things, MeasureImageQuality allows you to calculate thresholds for an image; these allow you to see if there are any thresholds that look atypically high or low and is super helpful for doing whole image QC (if my threshold on an image is weird or way off, my segmentation is likely to be compromised).

AFAICT all other modules besides Threshold that do any sort of thresholding (namely

[2017-10-19 20:57] vchernys opened #3352 "AreaShape_Center (X,Y,Z) results are equal to Location_Center (Y,X,Z) for 3D image"
When I look at produced MyExpt.csv results after analyzing a 3D image I see AreaShape_Center (X,Y,Z), which according to the manual should represent the pixel furthest from the edge, and Location_Center (X,Y,Z), which should represent the center of mass, having equal values but having switched X and Y. So the result of AreaShape_Center(X,Y,Z) = Location_Center(Y,X,Z) which does not make sense.

[2017-10-20 01:01] AnneCarpenter commented on #3350
Ah, the top of your screenshot is cut off but I suspect there is supposed to be a nice CP icon in the top left of that image window, but it looks like a blue/white/gray thing instead.

[2017-10-20 12:20] dlogan commented on #3350
Here's the whole screen:
![image](https://user-images.githubusercontent.com/1225595/31820414-382cf3bc-b56f-11e7-8875-0ca1c93c3abf.png)

So it's interesting that there is a CP icon in the main window, but perhaps the image window is calling for it too and can't?

[2017-10-20 13:35] braymp commented on #3349
I'm assuming that the main problem re: simply upgrading the settings is the fact that multiple operations were allowed per module with 2.2?

If so, is it too much to have 3.0 simply break each operation into its own Morph module and set the input images for each such that they chain together?  I.e.,

Morph:
* Input image: BinaryImage
* Output image: FinalOutput
* Operations: Close, Skeleton, Shrin

[2017-10-20 14:22] mcquin opened #3353 "SaveCroppedObjects directory behavior inconsistent with SaveImages"
SaveCroppedObjects directory option should:

- default to "Default Output Folder" (currently defaults to "Elsewhere"),
- when "Default [Input|Output] Folder sub-folder" or "Elsewhere":
  - recursively create subdirectories (e.g., `foo/bar` should be created if missing) rather than failing,
  - populate metadata tags in pathnames (e.g., `METATAG/foo` should populate with `VALUE/foo`) rather than ig

[2017-10-20 15:10] 0x00b1 commented on #3351
Thanks, @bethac07. It doesn’t sound _that_ bad. 🤷‍♂️

We should consider writing a wrapper around scikit-image’s thresholding methods to compute supplementary weighted-and-unweighted threshold statistics (like Haralick features computed on gray-level co-occurrence matrices that’re also used in MeasureImageQuality).

[2017-10-20 15:12] 0x00b1 commented on #3350
Thanks, @dlogan.

[2017-10-20 15:16] 0x00b1 commented on #3349
Thanks, @bethac07. And thanks for the feedback, @braymp.

The exception shouldn’t break control (and delete the user’s pipeline instance). I’ll prioritize this for 3.0.1. Unfortunately, I don’t know if there’ll be time or interest to catch the exception and push the correct modules onto the pipeline.

[2017-10-20 15:17] 0x00b1 commented on #3349
(I’m also relabeling this as a bug.)

[2017-10-20 15:20] 0x00b1 commented on #3346
Thanks, @bethac07. Verified. This appears to impact Linux, macOS, and Windows.

I believe it’s build related so I might update the existing 3.0.0 builds instead of waiting for 3.0.1.

[2017-10-20 15:21] 0x00b1 commented on #3343
Superseded by #3343.

[2017-10-20 15:21] #3343 closed

[2017-10-20 15:22] 0x00b1 commented on #3342
Thanks, @derekthirstrup! I agree.

[2017-10-20 15:25] 0x00b1 opened #3355 "TestTrackObjects::test_08_01_save_image is failing"
[Travis output](https://travis-ci.org/CellProfiler/CellProfiler#L2583)

[2017-10-20 15:27] 0x00b1 opened #3356 "TestLoadData::test_09_01_load_bcb_file is failing"
[Travis output](https://travis-ci.org/CellProfiler/CellProfiler#L2523)

[2017-10-20 15:30] #3353 closed

[2017-10-20 20:45] AnneCarpenter commented on #3349
FWIW, I agree that auto-upgrading pipelines containing Morph isn't high enough priority to be likely happen. My rationale is the module is lesser-used and when used, it's more likely to be someone familiar with image processing and more likely to be able to fix it.

[2017-10-20 20:47] dlogan commented on #3350
Well, I closed and re-opened CP3 and the double-click image display now works fine!  Not sure what would've caused the transient issue, but perhaps close this issue unless someone else verifies?

[2017-10-20 23:07] derekthirstrup commented on #3342
Could you also please verify that the seeding module works with the marker watershed option?  It looks like it will be required for our 3D volumetric datasets.  It helps prevent the cells from growing to the top and bottom of the z-stack.

[2017-10-23 20:55] AnneCarpenter commented on #3219
I think this issue can be closed because we discussed it at coding day, made decisions about whom to move where, and made issues for those (which I believe are complete now).

@0x00b1 and @mcquin you might want to have a look over this issue to see if anything else discussed ought to be made into a new issue.

[2017-10-23 20:55] #3219 closed

[2017-10-23 20:56] AnneCarpenter opened #3357 "Remove Morph module's "life" operation"
In the Morph module, all options seem to work fine except “life”… it just hangs indefinitely. I propose we remove the option.

In Test Mode, it freezes CP so that Force Quit is the only option. In Analyze Images mode, you retain the ability to stop it using Stop Analysis and it ends gracefully.

For extra brownie points, I tested all other operations in Morph and they work fine.

[2017-10-23 20:57] AnneCarpenter commented on #3357
For even more brownie points, here is a pipeline to demonstrate the behavior:
[Archive.zip](https://github.com/CellProfiler/CellProfiler/files/1408780/Archive.zip)

[2017-10-24 15:22] bethac07 opened #3358 "Crop based on "Mouse" fails if you alter the cropping box"
From [the forum](http://forum.cellprofiler.org/t/crop-module-error/5224):

‘Error while processing Crop:
slice indices must be integers or None or have an index method’

I've verified on my machine- if you just leave the default crop box it starts with, the module completes, but if you move one of the corners you get the full error trace here:
[code]
Pipeline and image to validate are attached.
[C

[2017-10-24 18:42] minh-doan opened #3359 ""Open new CP window" when having both 2.2 and 3.0"
When you have both CP 2.2 and 3.0 installed, "Open new CP window" while running CP3.0 will launch CP 2.2 instead of 3.0

[2017-10-25 23:24] AnneCarpenter opened #3360 "Link error messages to Forum posts"
From @thouis, a nice feature of GATK is that error messages usually have a link to a URL where there is an initial post to help troubleshoot, followed by community discussion with other tips and tricks.

[2017-10-26 00:05] thouis commented on #3360
Here's an example:
https://gatkforums.broadinstitute.org/gatk/discussion/59/errors-about-read-group-rg-information

another:
https://software.broadinstitute.org/gatk/documentation/article?id=1328

[2017-10-26 14:22] bethac07 commented on #3360
I'm not fully clear what the idea is here-

* Link to forum posts when making a GitHub issue?  I usually do that where possible (See #3358)
* A troubleshooting wiki?  Here or on the forum?
* Linking to GitHub issues in the forum for helping troubleshoot?  I usually do that too where appropriate (see [here](http://forum.cellprofiler.org/t/crop-module-error/5224/4?u=bcimini)).

You know me, I'm alwa

[2017-10-26 15:53] thouis commented on #3360
I'll try to generate a real example to screenshot, but the idea would be in the error message (that you linked in #3358), instead of CP producing:

it would produce:

That's a poor example, because it sounds like that case was a bug rather than a user error.  I don't know how well CP's type checking helps avoid processing-time failures, so maybe this is not that useful an idea.

Does that clear it

[2017-10-26 19:42] mcquin commented on #3356
This is being caused by a matplotlib bug. I've submitted a fix: https://github.com/matplotlib/matplotlib/pull/9589.

[2017-10-27 13:05] AnneCarpenter commented on #3360
Yeah, the idea is for every unique error message CP produces, we make (in advance) a corresponding forum post. That post's URL is included in the error message so when people encounter the error, they go to the URL and hopefully find info to help them in two ways:

1) Our initial forum post, which we might continually edit to include the most common explanations/fixes.
2) Community responses that

[2017-10-27 16:36] AstroNeuroGuy opened #3362 "CP3.0: Spline smoothing in CorrectIlluminationCalculate: Wrong last row and column in illumination function"
Hello,

i'm building a background illumination correction pipeline and i have found that using splines smoothing works best with my data sets.

(here is an example of the illumination function)
![illum_function](https://user-images.githubusercontent.com/24234250/32114596-fed1dfda-bb11-11e7-9b29-678740c780de.png)

However upon closer inspection, the calculated illumination function shows  strange

[2017-10-27 18:37] braymp commented on #3360
I don't think you'd want *every* unique error, since some contain different text but stem from the same source, e.g., http://forum.cellprofiler.org/t/cellprofiler-2-0-faq/1813/15

[2017-10-29 21:39] minh-doan opened #3363 "Feature Request - SplitOrMergeObjects for 3D"
Not sure if this was already discussed.

SplitOrMergeObjects in 3D analysis is demanded, as Median Filter and RemoveHoles sometimes result in over/under-segmented objects.

[2017-10-30 13:17] mcquin commented on #3355
Resolved in https://github.com/matplotlib/matplotlib/issues/9280

[2017-10-30 15:34] #3355 closed

[2017-10-30 15:34] #3356 closed

[2017-10-30 22:01] braymp opened #3365 "MeasureObjectRadialDistribution: AttributeError on help"
In 3.0.0, Pressing the '?' for the MeasureObjectRadialDistribution module (not the '?' for the individual settings) yields the following error:
[code]

[2017-10-31 15:05] 0x00b1 opened #3367 "ZeroDivisionError: float division by zero"
From [Travis](https://travis-ci.org/CellProfiler/CellProfiler/builds/294919679#L2563)

[2017-10-31 19:17] derekthirstrup commented on #3363
Yes, the lack of options for 3D nuclei declumping are causing issues for me with respect to the current 3D cell segmentation pipeline.

[2017-10-31 22:51] derekthirstrup opened #3369 "RemoveHoles should fill holes in labeled images"
Here is an image documenting the issue.  Also posted this issue to the forum.

![image](https://user-images.githubusercontent.com/20077409/32252592-4aec1e64-be53-11e7-8b67-e5d6930a272d.png)

[2017-11-01 16:01] AnneCarpenter commented on #2664
I think if @0x00b1 or @mcquin can confirm that the command line options here are up to date we are all set and this can be closed (one query was whether cellprofiler --help shows a -b option):

https://github.com/CellProfiler/CellProfiler/wiki/Adapting-CellProfiler-to-a-LIMS-environment#cmd

[2017-11-03 17:57] mcquin commented on #2458
@minh-doan says folks have asked him for this in 3D, especially with respect to measuring changes in intensity along the Z-axis.

[2017-11-03 18:20] minh-doan opened #3370 "Measure hollowness of a volume"
- Measure hollowness, e.g. if a "cave" exist or not inside a whole sphere, how large that cave compared to the whole mass.

[2017-11-03 23:47] AnneCarpenter commented on #3370
Do you mind breaking these up into separate issues? That would be helpful!

[2017-11-04 18:54] minh-doan opened #3371 "Feature request for 3D - Measure convexity"
- Measure convexity/concavity of the surface of the sphere

[2017-11-04 19:02] minh-doan opened #3372 "Feature request for 3D - Measure polarity"
Measure polarity or symmetry
e.g. parameters to tell if the cells at the poles of the sphere have greater/less intensity/texture values compared to to those at the center of the sphere.
(or 1 pole is greater than the other)

[2017-11-05 01:40] AnneCarpenter commented on #3372
Is this goal achieved by just measuring distance of each sub-object from top of the large enclosing object?  then outside of CP you can look at any feature you like relative to that metric.

If so, we caN talk about how to measure distance from pole.

[2017-11-06 19:22] bethac07 opened #3373 "Catch and nicely explain ExportToDatabase too many columns error"
From [the forum](http://forum.cellprofiler.org/t/cp3-0-error-in-exporttodatabase-during-startup-too-many-columns-on-analysis-per-object/5282) via @PetterRanefall

I am using a SQLite database.

@minh-doan noted:

and that the full error message was
[code]

Pipeline and images attached.
[cellpaintinganalysis.zip](https://github.com/CellProfiler/CellProfiler/files/1447492/cellpaintinganalysis.zip)

[2017-11-06 21:02] mcquin commented on #3373
The error indicates @PetterRanefall is hitting the maximum column limits for a MySQL database. Try exporting a single object per table or as a single object view.

We can definitely try to catch the error and print a friendlier message to the user.

[2017-11-06 21:10] mcquin commented on #3367
Resolved #3368

[2017-11-06 21:10] #3367 closed

[2017-11-06 21:22] mcquin commented on #3362
Hi @AstroNeuroGuy,

I think it's entirely possible the error you observe could be due to some rounding error in the`affine_transform` code. Do you think there's a reasonable parameter we could change in the call to `affine_transform` that would yield more favorable results?

[2017-11-07 13:34] mcquin commented on #3369
Verified the behavior with the following pipeline:

1. Threshold
2. Label
3. ConvertObjectsToImage (16bit)
4. RemoveHoles

The output is a blank image. When provided a binary image (e.g., the output of Threshold), the filled binary image is returned.

[2017-11-07 20:16] AetherUnbound opened #3375 ""data" directory not included in distribution build"
After setting up an appropriate conda environment as per the wiki guide (https://github.com/CellProfiler/CellProfiler/wiki/Conda-Installation), I was unable to install CellProfiler as "non-editable", or without the editable tag. I found that this is because the `data` directory is not being picked up by `setup.py`. I was able to confirm this by copying the directory. Here's the output from that ex

[2017-11-07 20:39] AetherUnbound commented on #3375
I'm working on this in issues/3375 in my own fork.

[2017-11-08 14:13] mcquin commented on #3375
If you don't mind sending us your `environment.yml`, we can get the wiki instructions upgraded. GitHub file upload or old fashioned copy & paste is fine.

[2017-11-08 16:38] AetherUnbound commented on #3375
I'll wait to update it for now, because I believe this fix should also allow CellProfiler to be added as the last pip install in the `environment.yaml` file. Ideally this would allow people to install CellProfiler with a single command.

[2017-11-08 18:22] AetherUnbound commented on #3369
@mcquin What does the output of that filled binary image look like? Since a number of our images don't have distinct borders (like the one @derekthirstrup posted), that image would come back nearly all white.
![image](https://user-images.githubusercontent.com/10214785/32566987-abbe9868-c46e-11e7-8522-16dd5dc69f1d.png)

I have an idea for how holes could be removed in a labeled image, and could add

[2017-11-08 19:28] mcquin commented on #3369
@AetherUnbound Yes, in this case the returned image would basically be all white which, though technically correct behavior, is not the result you and @derekthirstrup are looking for.

I'd absolutely encourage you to submit a module which fills holes in labeled objects. :)

[2017-11-08 20:10] AetherUnbound commented on #3369
@mcquin You're right - the technically correct behavior is not the desired behavior!

Awesome, I'll go ahead and start work on that module. I know your PR is related to this issue, but I'd like to keep the issue open until I've submitted a PR with the labeled-filler module if that's alright.

[2017-11-08 20:17] mcquin commented on #3369
Sounds good. I'll assign you to the issue.

[2017-11-08 20:35] AetherUnbound commented on #3369
For context, I'm a software developer that works closely with @derekthirstrup at the Allen Institute for Cell Science. We've got a few modules we'd like to add and we may come across other changes/modifications. If I'm not overstepping myself, I'd love to be added as a collaborator! Otherwise, I'll continue to work through the external revision process.

[2017-11-08 20:43] mcquin commented on #3369
Nice to meet you! Since we don't have a defined policy on adding collaborators to the project, I think it'd be best if you continued to contribute externally. I know it's super annoying. It's definitely something we should figure out.

[2017-11-08 20:49] AetherUnbound commented on #3369
Gotcha. I think per AICS's standards we would want to add modules through the external contribution channel anyway. I only ask as a convenience for things like labeling @derekthirstrup's issues, adding reviewers, etc :)

[2017-11-09 15:57] bethac07 opened #3377 "Watershed currently says "no" to "Supports 3D"?"
The answer should clearly be yes; the answer for 2D should stay as "yes"

[2017-11-09 18:02] derekthirstrup opened #3378 "Invert image missing from Morph module in CellProfiler 3.0"
Please close issue since I noticed that invert image is still supported in the ImageMath module.

[2017-11-09 18:12] #3378 closed

[2017-11-09 20:30] bethac07 opened #3379 "ExportToSpreadsheet error when filtering objects in IDSecondary"
In a pipeline which has an IDSecondary module in it where you're filtering primary objects based on the secondary objects (aka when `Discard secondary objects touching the border of the image?` and `Discard the associated primary objects?` are both set to "Yes"), trying to only export specific measurements in ExportToSpreadsheet using the `Press to select measurements` option box gives the followi

[2017-11-13 17:30] #3296 closed

[2017-11-14 00:44] AetherUnbound commented on #3375
Closed with #3380

[2017-11-14 00:44] #3375 closed

[2017-11-14 21:47] AetherUnbound opened #3381 "Merge seeding artifacts into most significant neighbor"
In our seeded watershed segmentation with CellProfiler, we're finding that a number of seeding artifacts are left in the final segmentation. These over-segmented sections can't be removed and filled through normal methods as many of the seeds grow to the edge of the cell.

Example:
![image](https://user-images.githubusercontent.com/10214785/32806698-5917183c-c942-11e7-8d24-c2b26fdd1180.png)

[2017-11-15 19:39] bethac07 opened #3385 "ExportToDatabase should report module execution times"
ExportToSpreadsheet tells you how long each module took executing; this is helpful in profiling the slow spots in a pipeline.  At least in exporting SQLite databases (which is all I have access to at this particular moment) ExportToDatabase does not; this would be a nice addition to bring it in line.

[2017-11-15 19:43] bethac07 opened #3386 "MeasureTexture on objects is exceptionally slow in 3.0.0"
Measuring 3 channels in 3 objects at 3 scales is taking >3 hours; measuring just the image texture features for those 3 channels/3 scales inthat image takes 20-30 seconds, so it's likely something in the objects.  Pipeline + images are confidential but will be sent via email.

[2017-11-15 19:56] AnneCarpenter commented on #3386
A debugging idea to try: just measure one object type x one channel?

[2017-11-15 22:31] derekthirstrup opened #3387 "Resize module window display for large images is cropped"
![image](https://user-images.githubusercontent.com/20077409/32863822-aa6d40ce-ca11-11e7-8843-86dc856b3cd7.png)

[2017-11-16 11:40] burgerga commented on #2394
So... no chance `import imagej.imageprocessor as ijiproc` is working anytime soon I guess (I have some old plugins that use this)?
Am I correct in assuming imagej was removed completely from CP3?

[2017-11-16 18:02] mcquin commented on #3377
Closed via https://github.com/CellProfiler/CellProfiler/pull/3383

[2017-11-16 18:02] #3377 closed

[2017-11-16 20:12] mcquin commented on #3198
Resolved via https://github.com/CellProfiler/CellProfiler/pull/3271

[2017-11-16 20:12] #3198 closed

[2017-11-16 20:32] mcquin commented on #2394
Yes. The `RunImageJ` module isn't supported in CellProfiler 3.0. As you can see from this discussion, we're investigating new ways for CellProfiler to interact with ImageJ.

[2017-11-16 21:54] ctrueden commented on #2394
@burgerga Would you be able/willing to share some of these plugins? And/or describe your use cases for combining CellProfiler and ImageJ? We'd love to have a better understanding of the community's needs along these lines, so that we can pursue the most effective avenues of integration!

[2017-11-17 06:58] burgerga commented on #2394
@ctrueden It is a collection of segmentation algorithms developed by @kuandannyan that we use in our department. IIRC they are imagej plugins with a add-on cellprofiler plugin to set the parameters in the cellprofiler gui, you can find an example here: https://github.com/kuandannyan/cp_pipeline/blob/master/hysteresis_segment.py

Our current workaround is to do our segmentation in whatever program

[2017-11-17 10:03] kuandannyan commented on #2394
@ctrueden @burgerga
Thanks for mentioning my works. I am also curious about CellProfiler 3.0 and its ImageJ server solution with RESTful service.

By any chance, can the CP ImageJ RESTful service provides a method which allows end user to dynamically loading a jar-file containing customized ImageJ plugins into the current instance behind service (or create a new instance of ImageJ). I assume behin

[2017-11-17 19:37] ctrueden commented on #2394
@kuandannyan It would be doable to include a module on the ImageJ server side capable of executing arbitrary script code fed as a string. As you point out, this would be a big security risk, but also very convenient, and probably OK if the server is running over localhost for the local user only. This might be something like the following script, placed into the ImageJ server installation at `scri

[2017-11-20 13:31] kuandannyan commented on #2394
@ctrueden

Yes, I have tried the run script before but it is not script or macro I am interested in. I am particular in dynamic loading of ImageJ/FIJI plugins into CellProfiler's instance of ImageJ.

A quick answer to dynamic classloader is basically for my own interests. For our design, the server with ImageJ instance maybe run on a HPC and shared among end users for heavy segmentation algorithm.

[2017-11-21 18:45] bethac07 commented on #2685
Comment on this, since it just popped up in the [forum again](http://forum.cellprofiler.org/t/order-of-groups-is-lexicographically-even-for-meta-data-but-meta-data-is-not-zero-prefixed/3660/4); I played with @karhohs  dataset he added up here and found a way to do it in CP 2.2 or 3.0 as currently written.

If you extract whatever information (well column, timepoint, etc) as a piece of Metadata in

[2017-11-28 13:40] minh-doan commented on #3381
Can you try the module "SplitOrMergeObjects" to see if it helps?

[2017-11-28 13:44] minh-doan opened #3388 "Viewer can't open filenames with space in Cellprofiler 3.0"
Forum discussion : http://forum.cellprofiler.org/t/filenames-issue-in-cellprofiler-3-0-on-windows/5371

I confirm this on Mac : filenames with space can be analyzed, but cannot be viewed.

[2017-11-28 15:35] 0x00b1 opened #3389 "Failed to run module Threshold"
https://sentry.io/allen-goodman/cellprofiler/issues/391113681/

[code]

[2017-11-28 15:36] 0x00b1 opened #3390 "IndexError: boolean index did not match indexed array along dimension 2 ..."
https://sentry.io/allen-goodman/cellprofiler/issues/396061181/

[code]

[2017-11-28 15:37] 0x00b1 opened #3391 "ValueError: Mat 4 mopt wrong format, byteswapping problem?"
https://sentry.io/allen-goodman/cellprofiler/issues/388081950/

[code]

[2017-11-28 15:38] 0x00b1 commented on #3390
https://sentry.io/allen-goodman/cellprofiler/issues/395537601/

[2017-11-28 15:38] 0x00b1 opened #3392 "UnicodeDecodeError: 'utf8' codec can't decode byte 0xc0 in position 20: invalid start byte"
https://sentry.io/allen-goodman/cellprofiler/issues/395442412/

[code]

[2017-11-28 15:57] AetherUnbound commented on #3381
From @mcquin in #3384

[2017-11-29 17:40] AnneCarpenter commented on #3381
Hi all, thanks for adding this functionality! Shouldn't it live in plugins, though, if we foresee it being temporary (i.e. eventually replaced by a more complete/3D SplitOrMerge, or even by IdentifyPrimaryObjects)?

[2017-11-29 18:06] AetherUnbound commented on #3381
@AnneCarpenter That makes sense, I'm happy to move it there!

[2017-11-29 23:19] bethac07 opened #3393 "ExportToDatabase errors if first image skipped due to FlagImage"
If you are running a pipeline where FlagImage is used with image skipping on and it skips the first image, the following error message is created and nothing is written to the database.  This works fine if you're skipping the second image rather than the first.

[code]

Pipeline and image sets to reproduce here.
[SkipFirstImage.zip](https://github.com/CellProfiler/CellProfiler/files/1515913/SkipFi

[2017-11-29 23:30] bethac07 commented on #3393
My CP installation is being buggy, closing until I can reproduce better or track down the issue.

[2017-11-29 23:30] #3393 closed

[2017-11-30 00:44] bethac07 opened #3394 "3D Slice Viewer fails if exactly 3 or 4 slices"
Hat tip to @tischi in [the forum](http://forum.cellprofiler.org/t/loading-data-into-cellprofiler-3d/5372);

If you try to use the 3D slice viewer with only 3 or 4 slices, you get a view that looks like the below; if you have 2 or 5-10 (and presumably everything after) it works fine.  Happens to him on Mac (at least with a 3 image stack) and me on PC.  Pipeline and images to verify here.
[3DViewer.

[2017-11-30 13:38] bethac07 opened #3395 "Update image processing module documentation on 3D volumetric/planewise"
We previously discussed doing this at the top of each module, which i think we were correct in deciding not to do, but especially in modules like EnhanceOrSuppress or Morph where some operations are volumetric and some are planewise I think the options help should specify which are which.

My gut is to only call out specifically planewise ones but open to other ideas.

[2017-11-30 13:41] bethac07 opened #3396 "Improve visualization for low-contrast images"
A couple different CP power users/friends of the lab have now reported so on [the forum](http://forum.cellprofiler.org/t/cp3-log-normalized-gives-black-image/5288/3).

![image](https://user-images.githubusercontent.com/6721515/33433601-2dbb266e-d5aa-11e7-949a-1b7dd625a01b.png)

[2017-11-30 19:01] karhohs opened #3397 "Error using random forest classifier from CPA in FilterObjects Module"
I am seeing two errors when I am using a random forest classifier trained in CPA.

1. In the executable version of CellProfiler I see the following: `Exception in cpmodule.test_valid No module named ensemble.forest`

1. When running from source I see the following: `Exception in cpmodule.test_valid 'max_depth'`.

I've attached the model I saved to this issue. Note I had to make the file extension

[2017-11-30 19:46] bethac07 opened #3398 "RescaleIntensity fails when using "Min of all images" and "Max of all images""
From [the forum](http://forum.cellprofiler.org/t/issue-with-integrated-fluorescence-intensity-values/5408/3)

When using the pipeline and images below (which has RescaleIntensity set to set the "Minimum of all images" and "Maximum of all images" to 0-65536, user gets the following error.  User sees it in 2.2 and 3.0.  I validated on my machine (3.0 only); error is resolved by instead setting 0-1 t

[2017-12-03 11:07] AnneCarpenter opened #3399 "Help button in File > Run Multiple Pipelines does nothing"
In v 3.0

[2017-12-03 17:33] ctrueden commented on #2394
@kuandannyan Thanks for the additional information, and apologies for delay in response.

It sounds like what you might want to do, then, is to create a "dynamic plugin" module: something like my example script above, but specifically geared toward loading bytecode instead of executing scripts. In principle there is nothing stopping the ImageJ RESTful server, or ImageJ in general, from doing this

[2017-12-04 17:01] kuandannyan commented on #2394
@ctrueden

Thank you for the following up. Interesting idea of <code>PluginService</code> concept, I will try it out a bit.

[2017-12-05 15:41] N3llz commented on #2245
Fine to close this issue? @AnneCarpenter

[2017-12-05 18:13] AnneCarpenter commented on #2245
If you've indeed added the table throughout the modules then yes!

[2017-12-05 18:25] N3llz commented on #2245
Already merged and closed here: https://github.com/CellProfiler/CellProfiler/pull/3306
But for some reason, I don't have the option or button to close this issue?

[2017-12-05 18:39] #2245 closed

[2017-12-05 21:57] bethac07 commented on #3399
Hmmm, it does on my machine.  Mac/PC difference?

[2017-12-05 22:02] bethac07 commented on #3295
[Resolved](http://forum.cellprofiler.org/t/cp-3-0-0rc1-not-starting-up-in-mac/5104/14?u=bcimini)

[2017-12-05 22:02] #3295 closed

[2017-12-05 22:03] bethac07 commented on #3099
Closing since as of 3.0.0 release the console is still viewable.

[2017-12-05 22:03] #3099 closed

[2017-12-05 22:04] bethac07 commented on #3123
Presumably resolved by #3288

[2017-12-05 22:04] #3123 closed

[2017-12-05 22:06] bethac07 commented on #3244
Resolved in #3270

[2017-12-05 22:06] #3244 closed

[2017-12-05 22:08] bethac07 commented on #3316
Closing since we're no longer putting a nightly up at the moment, and since it's more likely a website issue than a CP issue.

[2017-12-05 22:08] #3316 closed

[2017-12-05 22:10] bethac07 commented on #3310
Closed in #3337

[2017-12-05 22:10] #3310 closed

[2017-12-05 22:19] bethac07 commented on #2362
12/2017 update- I think the "2 pixels to the right" language still needs to be addressed; my reading of the [mahotas Haralick impelmentation](http://mahotas.readthedocs.io/en/latest/api.html#mahotas.features.haralick) makes me think the 8 level thing is almost certainly no longer true but would appreciate someone else's backup on that.

[2017-12-05 22:19] AnneCarpenter commented on #3399
Ohhh... must be.

[2017-12-05 22:20] bethac07 commented on #2641
Closed in #3063

[2017-12-05 22:20] #2641 closed

[2017-12-06 17:59] AetherUnbound opened #3401 "Refactor test fixtures"
Per #3382, we're investigating alternative ways of creating fixtures with dynamic parameters rather than overwriting a parameterized fixture in every module.

[2017-12-06 19:22] #3349 closed

[2017-12-06 20:24] AetherUnbound commented on #3369
With the two modules made in #3382 and https://github.com/CellProfiler/CellProfiler-plugins/pull/30, this issue has been resolved!

[2017-12-06 20:24] #3369 closed

[2017-12-07 19:56] #3352 closed

[2017-12-07 20:48] bethac07 commented on #3399
NVM, I can't read; the HELP button is indeed broken in Run multiple pipelines- pressing it gives the following:

[code]

[2017-12-07 20:52] bethac07 opened #3404 "Right clicking on the "Help for module _" in the pipeline is broken"
From [the forum](http://forum.cellprofiler.org/t/filenames-issue-in-cellprofiler-3-0-on-windows/5371/10?u=bcimini)

Previously you could right-click on a module in the pipeline and get a 'Help for module 5" (or whatever number) option, which would give you that module's help (see below).  Is currently broken at least on Windows 10, in both 3.0.0 built and today's master.

![image](https://user-ima

[2017-12-07 20:59] bethac07 opened #3405 "In-App help button is broken"
From [the forum](http://forum.cellprofiler.org/t/filenames-issue-in-cellprofiler-3-0-on-windows/5371/10?u=bcimini)

On the welcome screen is a button under "In-App help" that's supposed to give you information on how to use the help (current button and 2.2 version of what was shown below.  Pressing it gives the following error message, at least on Windows 10 in both 3.0.0 built and today's master.

[2017-12-07 21:00] bethac07 opened #3406 "Welcome screen link should update to new manual"
I'm not sure where we're hosting the build of the new manual, but wherever it is the link on the welcome screen to the manual should be updated (as should the website, but I'll raise that issue there).

[2017-12-07 21:02] bethac07 opened #3407 "Help search is currently broken"
From [the forum](http://forum.cellprofiler.org/t/filenames-issue-in-cellprofiler-3-0-on-windows/5371/10?u=bcimini)

Using the help search (at least for the couple of keywords I tried) gives the following error message, at least on Windows 10 in both 3.0.0 built and today's master.

[code]

[2017-12-08 04:09] AetherUnbound commented on #3407
After some debugging it looks like `self.__doc__` is none during the `self._rst_to_html_fragment(self.__doc__)` call.

[2017-12-08 04:34] AetherUnbound commented on #3407
It looks like this is the caused by:
1. Having imports before the docstring at the beginning of the file (see [MeasureObjectIntensityDistribution L3-L25](https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/modules/measureobjectintensitydistribution.py#L3-L25))
2. Formatting the docstring (see [MeasureObjectIntensityDistribution L85-L88](https://github.com/CellProfiler/CellProfile

[2017-12-08 04:51] AetherUnbound commented on #3407
I've got a working solution to this in https://github.com/AetherUnbound/CellProfiler/tree/issues/3407, but the search results isn't loading the previous image link properly:
![image](https://user-images.githubusercontent.com/10214785/33751527-56116f9c-db90-11e7-9865-2db69c547657.png)

[2017-12-08 04:57] AetherUnbound commented on #3407
It also looks like help search always prints the first result title twice, and the list of links is inline instead of a bulleted list (I'm not sure if it's supposed to look this way).
![image](https://user-images.githubusercontent.com/10214785/33751651-2f233810-db91-11e7-9de8-83e54bd47701.png)

[2017-12-08 05:15] AetherUnbound commented on #3407
Found the issue! It was a missing `"`
![image](https://user-images.githubusercontent.com/10214785/33752004-b5114f6e-db93-11e7-81b5-100212bb6048.png)

[2017-12-08 15:02] bethac07 opened #3409 "MeasureObjectIntensityDistribution images are huge"

[2017-12-08 15:18] bethac07 opened #3411 "Fix OME XML metadata parsing to properly read image plane details"
Particularly for OME-TIFF, a lot of times it seems CP (whether due to Bioformats,python-bioformats, Venus being in the 12th house, etc etc) can't actually parse the metadata in a TIFF header- ie in [this forum post](http://forum.cellprofiler.org/t/splitting-multistack-tiff-and-merging-colors/5444), a 3 channel-11 site image is parsed by CP as having 33 separate timepoints.  There are several such

[2017-12-08 17:19] #3409 closed

[2017-12-08 20:48] AnneCarpenter commented on #3407
Wow, thanks @AetherUnbound !

[2017-12-09 02:13] AetherUnbound commented on #3411
Do you mind sharing how you got to that specific `Metadata` selection screen in NamesAndTypes? I'm not sure I can get to those options with the current build of CP.

[2017-12-09 02:32] AetherUnbound commented on #3405
It looks like the "in-app help" reference is defined https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/gui/welcome.py#L13-L21 but the content is missing from the page, and subsequently the `href_to_help` dictionary: https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/gui/welcome.py#L458-L467

[2017-12-09 06:27] AetherUnbound commented on #3405
It looks like this might have been dropped from the original file when the UI was updates: https://github.com/CellProfiler/CellProfiler/commit/4b9c4b22c6a1a1db1ff41de3b746726b20f5fdac#diff-3a0157b849bfd55f2a6578a7fd4a386bL118

[2017-12-09 20:29] AetherUnbound commented on #3399
It looks like it opens for me but it doesn't render properly and CellProfiler becomes unresponsive afterwards.
![image](https://user-images.githubusercontent.com/10214785/33799232-9baa3c44-dcdc-11e7-9c49-3146f7a4fa69.png)

[2017-12-10 00:19] AetherUnbound commented on #3399
I've started work on this is the branch `issues/3399`. I've gotten the help to render as HTML (and I suspect I found the cause of the "charmap codec" error, but the window still freezes for me. I'm on Linux and so I think I might be experiencing a separate issue. @bethac07, can you checkout my branch and see if it loads properly for you?

[2017-12-10 00:33] AetherUnbound commented on #3399
It looks like I've got a fix that makes it work and render properly on Linux: 1f49ec918f971cc26fd5bca49170ae861eb6ed1d, does it work for you guys?

[2017-12-10 04:29] AetherUnbound commented on #3388
I found it! The URL was being converted to a file name, but the variable with which it was defined was unused when displaying.

[2017-12-10 06:37] AetherUnbound commented on #3392
I'm not able to see the issue on sentry.io

[2017-12-10 06:45] #3381 closed

[2017-12-10 07:05] AetherUnbound commented on #3358
It looks like the `Crop` module wasn't converting the crop locations to integers before trying to use the values as indexes for the pixel array. I think I've resolved this in #3415

[2017-12-11 04:58] AetherUnbound commented on #3357
Since this uses the `cpmorphology` module (which it looks like we're trying to move away from) I also think it's fine to remove.

[2017-12-11 05:01] AetherUnbound commented on #3346
@0x00b1 @bethac07,  was this addressed?

[2017-12-11 05:04] AetherUnbound commented on #3344
I believe this is related to #3407 (seeing as `MeasureObjectIntensityDistribution` was the module causing the error).

[2017-12-11 05:10] AetherUnbound commented on #3336
I've already started this with #3402! I can work on creating `ObjectProcessing` modules for the other morphological operations if that seems reasonable @mcquin @AnneCarpenter

[2017-12-11 05:16] bethac07 commented on #3411
It's a pipeline I made in the 3.0.0 build- you can download it [here](http://forum.cellprofiler.org/t/splitting-multistack-tiff-and-merging-colors/5444/10?u=bcimini) (and the sample image further upthread)

[2017-12-11 05:18] AetherUnbound commented on #3334
This appears to be a discrepancy between Mac and Linux: https://stackoverflow.com/questions/42463929/couldnt-find-a-file-descriptor-referring-to-the-console-on-ubuntu-bash-on-win
@AnneCarpenter does it still not work on OSX?

[2017-12-11 05:34] AetherUnbound commented on #3334
I think I have a working fix for this in this branch: https://github.com/AetherUnbound/CellProfiler/tree/issues/3334
Do you two mind trying it out?

[2017-12-11 13:04] AnneCarpenter commented on #3334
I don't have CP set up from source! 😱   Hopefully @minh-doan can try it out.

[2017-12-11 20:17] AnneCarpenter opened #3417 "Update CP logo"
Assuming this is a file that is actually used somewhere, it'd be great to update to the new version!

https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/data/images/CP_logo.png

[2017-12-11 20:18] AnneCarpenter commented on #3417
Here is the one Jeanelle emailed around recently.

![2017_11_21-cp_logo_black_tm](https://user-images.githubusercontent.com/1213811/33851893-75cbdee6-de86-11e7-8943-d05cbe10ef14.png)

[2017-12-11 21:16] AetherUnbound commented on #3387
Do you mind including your pipeline and example image for this issue?

[2017-12-11 22:33] minh-doan commented on #3334
@AetherUnbound thanks for the effort !

I cloned your branch issues/3334, (your git).
CP3 opened fine with wxPython 3.0.3
Then File > Open new CP window gives me this error in the terminal:

`The file /Users/..../CellProfiler/cellprofiler/CellProfiler_python.command does not exist.`

Tried it on Mac OS X 10.12

Can you please recheck.

Thanks !

[2017-12-12 16:31] mcquin commented on #3407
Resolved #3408

[2017-12-12 16:31] #3407 closed

[2017-12-12 17:53] #3405 closed

[2017-12-12 17:56] mcquin commented on #3388
Resolved #3414

[2017-12-12 17:56] #3388 closed

[2017-12-13 14:48] mcquin commented on #3394
CellProfiler appears to be storing Z-stacks with 3 or 4 planes as images.

[2017-12-13 15:45] AetherUnbound commented on #3394
`skimage` (which I think uses `tifffile`) might be interpreting that as a color channel, much the same way that we check whether the last dimension is of length 3/4.

[2017-12-13 16:12] AetherUnbound commented on #3394
Looks like `tifffile` is okay:
[code]

[2017-12-13 16:15] AetherUnbound commented on #3394
@mcquin these seem to be the cause: https://github.com/scikit-image/scikit-image/blob/master/skimage/io/_io.py#L61-L64

[2017-12-13 16:18] cgohlke commented on #3394
Besides skimage swapping the axes, it's better to explicitly specify the photometric mode for volume stacks when using tifffile:

[code]

[2017-12-13 17:25] mcquin commented on #3394
Thanks for the tip, @cgohlke. We should add that to SaveImages.

Great find, @AetherUnbound. It looks like swapping axes was introduced in https://github.com/scikit-image/scikit-image/pull/1498 in response to https://github.com/scikit-image/scikit-image/issues/1496.

Since TIF is the only supported file format for volumes, I think it's okay if we go ahead and open volume stacks with `skimage.exter

[2017-12-13 19:44] #3358 closed

[2017-12-13 19:45] mcquin opened #3419 "Specify the photometric mode for volume stacks"
Per https://github.com/CellProfiler/CellProfiler/issues/3394#issuecomment-351441268, let's specify the photometric mode when exporting TIF stacks in the SaveImages module.

[2017-12-13 20:24] mcquin commented on #2783
@bethac07 I have not been able to reproduce your result on latest master. Here's what I've tried and noticed:

1. Loading a color image in **NamesAndTypes** doesn't load all the channels properly. For example, if my input data is `(256, 256, 5)` then CellProfiler creates an image of shape `(256, 5, 3)`.

2. Artificially creating a multichannel (> 3) image via **GrayToColor** then splitting channel

[2017-12-13 20:42] #3394 closed

[2017-12-13 20:48] mcquin commented on #2783
It appears to me that **GrayToColor** never supported creating multichannel images with more than 3 channels ([exhibit A](https://github.com/CellProfiler/CellProfiler/blob/de6d02c78fee6458e568281694f77262f54da7a8/tests/modules/test_graytocolor.py#L290-L308)).

[2017-12-13 20:59] mcquin commented on #2783
Ignore me! The test data I had created did not have the proper metadata. I can load a 5-channel image and can reproduce the error in **ColorToGray**.

[2017-12-13 22:05] mcquin commented on #3406
Good point. I'm still working on getting the manual hosted on ReadTheDocs.

[2017-12-13 22:06] mcquin commented on #3417
This appears to be unused.

We should remove the unused images in this directory.

[2017-12-13 22:34] mcquin commented on #3417
Update: This could probably replace https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/data/images/splash.png

[2017-12-14 11:42] VolkerH commented on #1580
Just discovered this old issue, which is still open and I believe, still relevant.

I haven't ported my feedback microscopt modules for Leica Cam Connections to Cellprofiler versions newer than 2.0. Partly this was due to the multi-threading issue that made it more difficult to deal with the network connection necessary to connect to the Leica server.

Now I would like to utilize functionality fro

[2017-12-14 15:20] #3417 closed

[2017-12-15 19:36] #3406 closed

[2017-12-15 21:34] AetherUnbound commented on #3281
Looks like this was resolved, closing this one.

[2017-12-15 21:34] #3281 closed

[2017-12-15 21:50] AetherUnbound commented on #3029
You may need to install `python-mysqldb` through apt instead: https://stackoverflow.com/a/5178698/3277713

[2017-12-18 09:17] willgdjones opened #3423 "Using Numpy array is input"
Hello, CellProfiler community!

I have a set of 3-channel images stored as Numpy arrays, and I would like to use these as input to a CellProfiler pipeline. The CellProfiler pipeline is available here: https://stanfordmedicine.app.box.com/s/06awqopz9xzyfxhke9ph8exac2oxem2t.

As I understand from the tutorials, images are fed into Pipelines as .TIFF files, and I don't know how to adapt this to my sp

[2017-12-18 16:50] bethac07 commented on #3423
Hi,
Cell Profiler 3.0+ can read .npy array files as images.

On Mon, Dec 18, 2017, 4:17 AM William Jones <notifications@github.com>
wrote:

[2017-12-18 19:31] bethac07 commented on #2019
Confirmed in the [forum](http://forum.cellprofiler.org/t/measure-object-neighbors-error/5489) that it's still an issue in 3.0.0.

[2017-12-19 04:33] GenevieveBuckley opened #3424 "TrackObjects error when using 'Measurements' tracking method"
I've encountered an error when trying to use the 'Measurements' tracking method in the TrackObjects module with CellProfiler3.0.0. Can anyone help with ideas?

Error message:

Reproducing the error:
* [CellProfiler 3.0.0](http://cellprofiler.org/releases/)
* [Pipeline file here](https://drive.google.com/file/d/1He4Q7E-vxUpyOCnWji0qKGGxxG_yqt5V/view?usp=sharing)
* Data downloaded as .zip file from

[2017-12-19 16:46] bethac07 commented on #3399
Looks great to me!  Thanks for the fix :)

[2017-12-19 17:11] braymp opened #3425 "Possible addition to Zernike documentation?"
I came across this journal [figure](http://pubs.rsc.org/en/content/articlehtml/2016/ib/c6ib00100a) while researching Zernikes. I thought it might be nice to adapt for the MeasureAreaShape documentation (if allowed with attribution) since I often find Zernike's notoriously hard to explain to biologists.
![image](https://user-images.githubusercontent.com/1186440/34169428-63b94d8a-e4b5-11e7-838d-70d4

[2017-12-19 20:54] bethac07 opened #3426 "Error when using "Split" mode in IdentifyObjectsManually"
When using Split mode in IdentifyObjectsManually (to do this, hit "F" and draw in an object, then right click on it so it becomes an outline with control points and hit "S" to select two control points to split the object), it does actually split the object (see picture below, it definitely has two halves), but then immediately throws the error:
[code]

Thereafter literally anytime you move the cu

[2017-12-19 21:40] bethac07 opened #3427 "DisplayPlatemap error"
From [the forum](http://forum.cellprofiler.org/t/displayplatemap-error-str-object-has-no-attribute-set-bad/5494)

Trying to run DisplayPlatemap in 3.0 gives the following error:

[code]

Validated on my machine (Windows 10 3.0.0 built).  Images and pipeline to reproduce attached below.

[CellProfiler DisplayPlatemap Error.zip](https://github.com/CellProfiler/CellProfiler/files/1573354/CellProfiler

[2017-12-20 16:34] #2783 closed

[2017-12-20 16:40] bethac07 commented on #2783
🎊

[2017-12-20 22:47] AetherUnbound commented on #3427
@bethac07 I might have a fix for this in the branch `issues/3427`. I'm not sure what to expect as the end result, do you mind checking?

[2017-12-20 22:52] bethac07 commented on #3427
Looks great!  Thanks so much.

[2017-12-21 12:52] willgdjones commented on #3423
Hi @bethac07 thank you for response! I am glad that there is a solution, but because I am unfamiliar with CellProfiler I do not seem to be able to work it out.

Looking at the page: https://github.com/CellProfiler/CellProfiler/wiki/CellProfiler-as-a-Python-package

I am able to create load the pipeline into a pipeline objects. I'm just not clear from this point how I would change the pipeline to u

[2017-12-21 14:59] mcquin commented on #3423
Hi @willgdjones,

CellProfiler 3.0 added support for Numpy array data (saved as `.npy`). You need to tell the Images module that `.npy` files are image data. Check out the custom image filtering criteria below:

![screen shot 2017-12-21 at 9 53 08 am](https://user-images.githubusercontent.com/4721755/34260789-043bed00-e635-11e7-8388-547b3f79ff6a.png)

Hope this helps!

---

Let's consider adding f

[2017-12-21 15:54] willgdjones commented on #3423
Hi @mcquin - thank you for your reply.

Since I have many files which are located in a cluster environment, I haven't used the CellProfiler  GUI before! Is this possible to do using the Python interface? It would make my life a hell of a lot easier if so. If not, I can look to get working with the GUI.

Thanks for your help!

Will

[2017-12-21 16:17] AetherUnbound commented on #3423
@willgdjones
I believe you have 2 options for cluster work:

1. Convert your images to tiffs using `skimage.io`, create a file list, and call CellProfiler using the methods described here: https://github.com/CellProfiler/CellProfiler/wiki/Adapting-CellProfiler-to-a-LIMS-environment
2. From within your python code, call CellProfiler as a package as described here: https://github.com/CellProfiler/Ce

[2017-12-21 16:27] mcquin commented on #3423
@willgdjones You only need to access to the pipeline files and update the Images module as shown in my last reply. Then, you should be able to re-upload the pipeline to the cluster and run it there, where your images are.

@AetherUnbound's suggestion of converting your Numpy arrays to TIFs using `skimage.io` would work, too. And could be performed on the cluster, where I assume your images are. `s

[2017-12-22 00:40] bgriffen commented on #2679
I am using CellProfiler 3.0.0 and matplotlib 2.1.1 and get this same problem.

[2017-12-22 14:14] VolkerH opened #3430 "`MeasureTexture` Object measurements inconsistent between CP2.2 and CP3.0"
Hi,
I spent the last couple of days tracking down a problem with Texture feature calculation inconsistency between CP2.2 and CP3.
I noticed that CP3 now calculates the Haralick features using mahotas. Therefore I will mark @luispedro as well.

While I expected that the Haralick features may be calculated in a slightly different manner between the two implementations (e.g. different scaling etc), I

[2017-12-22 15:43] VolkerH commented on #3430
I just saw that there is also a test for haralick features on the current master:
https://github.com/CellProfiler/CellProfiler/blob/master/tests/test_haralick.py

However, this tests the old implementation in the centrosome module which is no longer used for the actual calculation.

[2017-12-25 17:31] #3427 closed

[2017-12-26 07:02] AetherUnbound commented on #3426
@bethac07 I think I have a fix for this in `issues/3426`, do you mind trying it out?

[2017-12-26 17:24] AetherUnbound commented on #3424
I've verified that I encounter this issue as well. It doesn't occur within the first few images of a sequence though. I tried running through the images in test mode and got impatient :)

I'll give it another look and see what I can find.

[2017-12-26 17:46] AetherUnbound commented on #3424
After further investigation, it looks like two things:
1. I only get this issue when I run multiple workers (e.g. if I run `Sequence1` and `Sequence2` of the sample data at the same time)
2. This seems to be an error being thrown in `centrosome`. I'm not sure if that means it's an upstream error or not, simply because of how this bug can be reproduced.

For the time being @GenevieveBuckley, do you

[2017-12-26 18:12] AetherUnbound commented on #3424
Error Traceback:
[code]

[2017-12-26 18:39] AetherUnbound commented on #3424
It looks like this might be an issue with `cpmorphology.faster_minimum_distance2`

[2017-12-26 23:22] AetherUnbound commented on #3398
This problem is a bit more pervasive than I first suspected it would be...

It looks like `namesandtypes.py` Line1867 (the call to `get_image`) is actually modifying the `provider` objects by adding the `scale` attribute. This occurs at  `loadimages.py` L3328. This is a bit counter-intuitive, since the provider is not specified whatsoever in the `get_image` call. It seems like we might need a defa

[2017-12-26 23:35] AetherUnbound commented on #3307
Unfortunately the `cpproj` file you uploaded does not contain the images for this pipeline. Do you mind uploading those as well?

[2017-12-27 00:58] AetherUnbound commented on #3285
It looks like it loads for me but similar to what @mcquin said in #3235: reST isn't converting to HTML

[2017-12-27 01:15] AetherUnbound commented on #3203
@karhohs bump

[2017-12-27 15:49] luispedro commented on #3430
Initially, the mahotas implementation was debugged to obtain the same results as the old Murphy Lab C/Matlab code. That was my gold standard at the time and, within rounding error, I reproduced the features at the time.

On exception was a difference in interpreting one of the features where the original Haralick paper is somewhat ambiguous [in my interpretation, the formula in the paper has a typ

[2017-12-28 02:02] bgriffen commented on #2679
I observe the same bug as I can not see the toolbar in any plot. I am on Ubuntu 16.04 using CP 3.0.0 with the following environment.yml via Conda install.

[code]

These are the associated installs with the YAML installs. (sorry for the dump)

[code]

Lastly, when I run `> cellprofiler` I get the following GDK warnings before the GUI appears.

[code]

Did anyone find the work around? Thanks in adv

[2017-12-28 18:04] AetherUnbound commented on #3180
I've started some work on this in `issues/3180`.

[2017-12-28 19:33] AetherUnbound commented on #3180
It looks like `cellprofiler/gui/welcome.py` is good!

[2017-12-28 20:20] AetherUnbound opened #3438 "[Ubuntu 16.04] Unable to scroll in "Add Modules" window"
As said above, scrolling does not seem to be enabled in the add modules window.

[2017-12-28 20:30] AetherUnbound commented on #3105
I suspect this has something to do with dividers. This module has a number of them, but they aren't showing up in the UI on Ubuntu at all.

[2017-12-28 21:33] AetherUnbound commented on #3105
This actually seems to be intended behavior of `moduleview.py`: https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/gui/moduleview.py#L475. I'll make a PR to adjust this, but there may have been historical reasons for the right-aligned binary text @AnneCarpenter @mcquin @0x00b1

[2017-12-28 22:27] AetherUnbound commented on #3438
It looks like scrolling with the mouse wheel works only when the cursor is hovering over the scrollbar. Can anyone else on another OS describe their scrolling behavior?

[2017-12-28 22:30] AetherUnbound commented on #3104
I can verify this behavior. Also, switching the `Metadata source` will cause this to occur too.

[2017-12-29 01:24] AetherUnbound commented on #3104
Debugging leads me to believe the problem is in the `do_reset` function on line 2312 of `moduleview`

[2017-12-29 04:19] AetherUnbound commented on #3104
It looks like `on_focus_killed` was calling `set_selection` twice. Essentially the settings were being refreshed twice after a small delay which was triggered by changing the regex textbox. Many of the other `on_<x>` calls have checks to ensure they pass if a settings refresh is in progress, I think `on_focus_killed` was just missing it.

[2017-12-29 15:09] votti commented on #2679
I am experiencing the exact same issue with the same error messages on CP3.0.0 on Ubuntu 17.10.

[2017-12-29 16:36] jhung0 opened #3441 "Error running from source w/ numpy"
This only happens with numpy 1.13. numpy 1.12 works.
When trying to start CP from source (macOS), I get an error:

  File "/usr/local/bin/cellprofiler", line 11, in <module>
    load_entry_point('CellProfiler', 'console_scripts', 'cellprofiler')()
  File "/Users/jyhung/Documents/com/github/CellProfiler/cellprofiler/__main__.py", line 152, in main
    app = cellprofiler.gui.app.App(0, workspace_pat

[2017-12-29 16:43] AnneCarpenter commented on #3105
We've generally had text right aligned so it's easier to tell which text goes with which text box (or other input widget).

[2017-12-29 20:43] jhung0 commented on #3397
Ok I see the problem. There must be a mismatch in the scikit learn versions you're using to save the model in CPA and load in CP. If the versions match, you don't see this. Like I'm using sklearn 0.19.0, but if I try to use your model, it says it's from sklearn pre 0.18, so you get that error.

[2017-12-30 00:46] AetherUnbound commented on #3105
Got it, so should all the other text be right aligned instead of left?

[2017-12-30 19:29] AnneCarpenter commented on #3105
I * think* so but would feel better if someone else confirmed!

[2018-01-01 16:15] jhung0 commented on #3357
It's gone https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/modules/morph.py#L599

[2018-01-01 16:15] #3357 closed

[2018-01-01 16:22] jhung0 commented on #3389
works for me...

[2018-01-01 17:19] AnneCarpenter opened #3442 "Update copyright to include 2018"

[2018-01-02 01:04] GenevieveBuckley commented on #3424
Sorry for the delay, I've been away over the new year.

@AetherUnbound  I can confirm that the pipeline runs with no errors when using only one worker (tested by loading only the 'Sequence1' data). Would you like me to try anything else?

[2018-01-02 14:17] mcquin commented on #3105
@AetherUnbound Right-aligning the text is consistent with the display behavior on OS X and Windows.

[2018-01-02 15:26] mcquin commented on #2679
Hi @Harmanjit, @bgriffen, @votti,

Thanks for posting your version information.

I don't have an update for you at this time. It's not yet obvious to me what the issue is. I'll need access to an Ubuntu machine to debug.

I'm curious if this [user_interfaces example code](https://matplotlib.org/examples/user_interfaces/embedding_in_wx4.html) works for you on Ubuntu. Download the source code and run

[2018-01-02 15:58] mcquin commented on #3180
Resolves #3436, #3437

[2018-01-02 15:58] #3180 closed

[2018-01-02 16:03] #3285 closed

[2018-01-02 16:47] #3399 closed

[2018-01-02 16:56] #3404 closed

[2018-01-02 17:22] #3426 closed

[2018-01-02 17:33] mcquin commented on #3321
Resolved #3443

[2018-01-02 17:33] #3321 closed

[2018-01-02 17:47] mcquin commented on #3438
I'm able to scroll on OS X.

[2018-01-02 17:48] jhung0 commented on #3441
Oh yes you're right

[2018-01-02 17:48] #3441 closed

[2018-01-02 18:17] #3292 closed

[2018-01-02 19:02] bethac07 commented on #3346
@AetherUnbound Not to my knowledge, but since it's build related I'm not sure.

[2018-01-02 20:33] bgriffen commented on #2679
I tried it but get a now expected error.

[code]

After some digging, it seemed as though there was no stable version of `wxpython` for Python 3.6+ via Anaconda. I then came across [this](https://wxpython.org/pages/downloads/index.html)

[code]

[2018-01-02 20:39] bethac07 commented on #2679
Hi,

CellProfiler is Python 2, not Python 3.  If you try running CP in an Anaconda 2.X environment do the buttons etc work for you?

[2018-01-02 20:59] bgriffen commented on #2679
Deep apologies, I thought I was on my Python2 environment when I wrote that then after I sent it off I realized I was in the wrong environment stupidly confusing the "3" mentally between Python3 and CP3. I have since activated my CP environment (Python2.7) and after `conda install wxpython` the window appears with the relevant Navigation Toolbar as depicted above. I double checked CP3.0.0 and the

[2018-01-02 22:40] mcquin commented on #3425
That's a great illustration! @AnneCarpenter do you have any insight as to whether or not we can include this figure, with a citation, in our documentation?

[2018-01-03 00:26] #3442 closed

[2018-01-03 10:28] votti commented on #2679
The example also does run correctly for me while the toolbar in CP doesnt.
Maybe the difference is that CP does not seem to use a 'Sizer' to place and resize the toolbar?

[2018-01-03 12:52] t-kreitler commented on #2679
Hi,

I've also observed the missing buttons in CP 2.2.0.
A bit of print-debugging brought up that the toolbar height is set to 4 in my scenario.
With the little hack below the toolbar becomes visible and works (but sizing the window below a certain height yields to warnings from Gtk...).
[code]
Actually I guess that the reason for the 'wrong' height is somewhere down the line in wxPython and/or ma

[2018-01-03 14:46] AnneCarpenter commented on #3425
Please just email the corresponding author of the original paper and ask if we could use it!

[2018-01-04 01:11] AetherUnbound commented on #3438
I think this may just be a GTK thing. I'll close this issue.

[2018-01-04 01:11] #3438 closed

[2018-01-04 01:36] AetherUnbound commented on #2679
From the code:
[code]
https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/gui/figure.py#L519-L521
Looks like this is leftover from Lee: https://github.com/CellProfiler/CellProfiler/issues/1279

@t-kreitler's fix works for me, I'll make a PR for it (thanks @t-kreitler!). If we don't want to have to make this manual fix, I believe it will require using a `Sizer` with the navtoolbar

[2018-01-04 01:50] AetherUnbound commented on #2677
Is there a set of images/pipeline for reproducing this issue?

[2018-01-04 01:57] AetherUnbound commented on #2677
FWIW I am not able to reproduce this issue in CP 3

[2018-01-04 01:59] AetherUnbound commented on #2676
@bethac07 any chance you can provide a set of images/pipeline for this?

[2018-01-04 07:46] votti commented on #2679
Pull request  #3445 fixes the problem for me as well!
Ubuntu 17.10, matplotlib==2.0.1, wxPython-common==3.0.2.0
Thanks for taking care of it! This bug was one of the major hurdles for us not to move to CP3.0

[2018-01-04 14:19] #2679 closed

[2018-01-04 14:23] mcquin commented on #2679
:star: Thanks @AetherUnbound for implementing a fix!
:star: Thanks @t-kreitler for noticing the toolbar height was too small, excellent debugging!
:star: Thanks @votti for verifying @AetherUnbound's changes!
:star: Thanks @bgriffen, @Harmanjit for working with us to help debug and resolve the issue!

[2018-01-04 14:36] AnneCarpenter commented on #3030
Confirmed that the 3.0.0 release still has this problem (looks pixely on my laptop though not so bad on my aux monitor)

[2018-01-04 14:50] mcquin commented on #3344
Resolved #3408

[2018-01-04 14:50] #3344 closed

[2018-01-04 14:56] mcquin commented on #3338
Non-3D supporting modules cannot be added to a new pipeline that's configured to process volumes. Let's verify the behavior, and also verify that running an existing pipeline (which is converted to process data as 3D) raises an interpretable error.

[2018-01-04 15:44] AetherUnbound commented on #3424
Thanks for checking that! I know less about centrosome than I do CellProfiler, we'll wait for @0x00b1 or @mcquin to comment before moving forward.

[2018-01-04 15:56] #3105 closed

[2018-01-04 16:08] AetherUnbound commented on #2677
As this is not a critical issue and it is absent in CP 3, I'm going to close this issue.

[2018-01-04 16:08] #2677 closed

[2018-01-04 16:29] mcquin commented on #3331
Resolved #3443

[2018-01-04 16:29] #3331 closed

[2018-01-04 16:50] VolkerH commented on #3430
@luispedro @mcquin, thank you very much  for your insightful comments. I am still on holiday and was offline for a few days. During the holidays I also had a closer look at the centrosome implementation of haralick features and also noticed the per-object scaling and very coarse quantization of the intensity levels.
I will play around some more with both implementations when I'm back at work.

Fro

[2018-01-04 17:25] mcquin commented on #3334
The script to launch another CP window was [removed in this commit](https://github.com/CellProfiler/CellProfiler/commit/7917fd95d2b99079438f6813cdbd7f7a8853b48f).

I think we should decide if launching multiple CP windows is a desired feature and, if so, implement it properly. Or, delete the menu option altogether.

[2018-01-04 17:27] #3330 closed

[2018-01-04 17:29] AetherUnbound commented on #3334
Wow, I didn't even realize that was a thing. I'm all for removing the option, but (knowing that there once was a script that accomplished this) I think it might be possible to fix this behavior.

[2018-01-04 17:54] mcquin commented on #3334
I'm also in favor of removing the option given that no one reported the feature as broken in the year-and-a-half it hasn't been available, indicating a lack of use.

[2018-01-04 17:56] AnneCarpenter commented on #3334
Well, let's not be hasty!
just kidding. Let's torch it.

[2018-01-04 18:25] minh-doan commented on #3334
As an essay dev., I sure do it often, for e.g. open a pipeline someone on forum made, then compare to my version of it. But agree with Anne that I'm surprised no one else reported this on the forum.

[2018-01-04 18:27] mcquin commented on #3334
Ah, I'd failed to consider that it does work in CP2.2 from the distributed package. My argument is invalid.

I've heard this come up as a use-case before (and Minh just verified it). That's a good case for restoring this behavior from source, and ensuring it works on Ubuntu.

[2018-01-04 18:40] mcquin commented on #3334
On OS X, with CellProfiler 2 and 3 installed, *File > Open a New CP Window* starts CellProfiler 2. When I remove CellProfiler 2, nothing happens. I suspect this is because [it looks for CellProfiler.app](https://github.com/CellProfiler/CellProfiler/blob/master/cellprofiler/gui/cpframe.py#L952) instead of CellProfiler-3.0.0.app.

[2018-01-04 18:46] mcquin commented on #3350
I'm unable to verify on OS X. @dlogan closing per your suggestion. Let us know if you see this behavior again.

[2018-01-04 18:46] #3350 closed

[2018-01-04 18:55] mcquin commented on #3396
Yes, the log-normalization code was changed in https://github.com/CellProfiler/CellProfiler/pull/2929/commits/b8c9621adb50e41319d55f2ca79e4e0e7c580cb8.

Previously, log adjustment was made across all channels. In CP3 in happens channel-wise. I wonder if this accounts for the difference.

[2018-01-04 19:05] bethac07 commented on #3396
I actually wonder if it's that we're no longer clipping to min and max before log normalizing- particularly in pretty dim images I imagine that would make a big difference.

[2018-01-04 19:11] mcquin commented on #3396
Possibly! The [scikit-image documentation](http://scikit-image.org/docs/dev/api/skimage.exposure.html#skimage.exposure.adjust_log) states that it rescales the image to [0, 1] before performing log-normalization. The previous clipping rescales to the min of strictly positive values.

[2018-01-04 22:46] AetherUnbound commented on #3334
Okay, thanks all for the input! I will work to find a cross-platform solution for this :+1:

[2018-01-05 17:05] mcquin commented on #3396
Picture time!

The previous normalization clipped the values so that it never had to take `log(x)` for `x <= 0`. The correct formula for log normalization takes `log(x + 1)`, and assumes all `x >= 0`.

Using the example fly images, here's the difference between log normalization in CP 2.X and CP 3.X. The CP 2.X version is definitely much brighter than in CP 3.X, though a bit unnatural/over-exagger

[2018-01-05 17:54] bethac07 commented on #3396
Can you try your new version it on the image I'm attaching here?  Sometimes it's really nice to be able to blow out the contrast, to pick up things like the dim speckles you can see in the log transform in 2.2 but not in 3.0.

![image](https://user-images.githubusercontent.com/6721515/34621531-945bb8aa-f217-11e7-9b60-52309f4a4f71.png)

[r06c05f09p01-ch2sk1fk1fl1.zip](https://github.com/CellProfile

[2018-01-05 18:21] mcquin commented on #3396
It enhances the speckles some, but not nearly as much as 2.2 does:

![log_normalized](https://user-images.githubusercontent.com/4721755/34622447-48845e10-f21b-11e7-857a-967cca29e650.png)

[2018-01-05 19:36] bethac07 commented on #3396
Would it be possible to add a 4th option then instead?  skimage's rescaling does allow you to pass in a gain, so in addition to having "Raw" "Normalized" "Log normalized" could we add "Log normalized (5X* gain)"?  I totally see the value from a code perspective of doing it mathematically correctly and using a standard function with no maintenance burden, but from an assay dev perspective being abl

[2018-01-05 19:54] mcquin commented on #3396
Yeah! Totally! What do you think about this:

![screen shot 2018-01-05 at 2 52 50 pm](https://user-images.githubusercontent.com/4721755/34625818-2c1a149c-f228-11e7-90c3-69f0a1396a50.png)

Gamma adjustments are great for manipulating contrast. I'll add a blurb on how to tune gamma, if this is something you think you'd and others would like to see in CP.

[2018-01-05 20:01] bethac07 commented on #3396
That'd be great, but ideally it'd be nice to have something we can set as a default in Preferences- often you want to do this for every image you look at in the entire assay dev process.

[2018-01-05 20:07] mcquin commented on #3396
Good point. I'll see what I can whip up.

[2018-01-05 21:16] AnneCarpenter opened #3448 "Notify user about image adjustments/normalization"
The discussion in #3396  is one of those simple but super important things!

I've always been a bit uneasy about the fact that some kind of adjustment is usually necessary, yet we don't want it to be happening without the user realizing.

Is it practical to add some kind of indicator somewhere? For example adding "(stretched)" or "log-normalized" next to the image title above each image within a w

[2018-01-05 21:48] bethac07 commented on #3448
I'm reasonably sure you'd have to change the code in every module individually to do so.  What is your particular concern about it happening without the user's knowledge?  Most pieces of software do this- ImageJ notably among them.

Would you be more comfortable if CP's default behavior was raw/unstretched rather than normalized?  That'd be easy enough to change, but it then puts an extra step on

[2018-01-05 22:44] AnneCarpenter commented on #3448
None of the options are awesome. You are exactly right that the default being unstretched avoids any chance of misleading people but is almost always useless for viewing images.

So I like the current default being stretched, I just wish it was more obvious that this had been done. Maybe there is another location/way to make this apparent that is easier and less cluttery.

My concern is when peopl

[2018-01-07 03:33] AetherUnbound commented on #3334
I've made a change in the branch mentioned above, @mcquin and @minh-doan, do you mind trying it?

[2018-01-07 03:36] AetherUnbound commented on #2798
Is this still an issue with the latest kernel version?

[2018-01-07 03:42] AetherUnbound commented on #2789
I cannot reproduce this issue in CP 3 for Ubuntu 16.04. @0x00b1, were you able to reproduce this?

[2018-01-07 03:51] AetherUnbound commented on #2788
This appears to be an issue with javabridge, one of CellProfiler's dependencies: https://github.com/LeeKamentsky/python-javabridge/issues/35. It should also be resolved with the most recent version of the JRE. Are you still encountering problems?

[2018-01-07 23:28] AetherUnbound commented on #3030
It seems like WX may not currently support anti-aliasing for fonts: https://wxpython.org/Phoenix/docs/html/wx.FontInfo.html#wx.FontInfo.AntiAliased

[2018-01-07 23:43] AetherUnbound commented on #3030
@AnneCarpenter Okay looking at your screenshots, I'm even more confused. It seems like (for your second example) even the buttons and window title are pixelated :astonished:

[2018-01-07 23:48] AetherUnbound commented on #3030
This issue may actually still be related to #472, as it seems like the difference is only discernible on @AnneCarpenter's retina display as far as I can tell.

[2018-01-08 00:03] AetherUnbound commented on #3411
Looking at this more, it seems like the `Has {thing} matching` is used in every case that FIJI can find relevant metadata. In order to make the `with remainder` option possible, we'd have to ensure that the value for the specified metadata is an integer.
That to say - this is possible, but I think it _might_ not be worth the time to implement. Thoughts?

[2018-01-08 12:45] AnneCarpenter commented on #3030
Yes, confirmed that on the retina display on a macbook pro, even the titles are fuzzy (for 3.0.0).

If we think that is a small fraction of users then we could just let this go? It's not life-threatening.

[2018-01-08 18:46] #3338 closed

[2018-01-08 18:58] bethac07 opened #3450 "Smooth 'Calculate artifact diameter' option intermittently doesn't show toggle buttons."
Observed [in the forum](http://forum.cellprofiler.org/t/smoothing-by-median-filter/5468) on Windows 10, observed by me + an attendee at a tutorial on Windows 7 (see screenshot from her below).  Issue is fixed by closing/reopening CellProfiler.  Will probably be a bear to find but thought worth reporting.

![cellprofiler bug](https://user-images.githubusercontent.com/6721515/34687170-ee28506c-f47b-

[2018-01-08 19:12] AetherUnbound commented on #3450
This may actually be related to #3104, any chance you could see if it is fixed by the associated PR?

[2018-01-08 19:18] bethac07 commented on #3450
Since it's an issue that only comes up rarely and intermittently, it's gonna be hard to reproduce.  I'm fine with closing assuming it HAS been fixed by #3104 unless we get evidence otherwise.

[2018-01-08 19:38] mcquin commented on #3334
@AetherUnbound I think your solution will only work when a non OS X user also has CellProfiler installed from source. I suspect we'll need to do something like what's suggested in https://stackoverflow.com/a/10294435 to properly pick up how CellProfiler was started.

When `os.system("cellprofiler")` runs, the parent process hangs until the new CellProfiler window is closed. I suspect we'll need to

[2018-01-09 14:45] mcquin commented on #2789
Unable to reproduce on OS X.

Closing due to lack of reproducibility.

[2018-01-09 14:45] #2789 closed

[2018-01-09 14:59] mcquin commented on #3030
Closing as "won't fix".

[2018-01-09 14:59] #3030 closed

[2018-01-09 15:26] mcquin commented on #3448
What if we added the normalization method to the pixel intensity bottom bar?

<img width="898" alt="screen shot 2018-01-09 at 10 25 37 am" src="https://user-images.githubusercontent.com/4721755/34728267-762a6eae-f527-11e7-855d-c2039f859e44.png">

[2018-01-09 15:58] AetherUnbound commented on #3448
I'm all for that idea!

[2018-01-09 16:12] bethac07 commented on #3448
I like it in theory; is the plan that when you hover over any given sub-panel it'll tell you the normalization?  I'd think based on the fact that different subplots can be normalized differently you'd have to do it that way.

[2018-01-09 16:19] mcquin commented on #3448
Yeah. I think it's possible that we could always have the normalization method displayed (you wouldn't have to hover over the panel first).

[2018-01-09 18:08] bethac07 commented on #3448
I'm fine with that too, but if we do that, we should change the text to "Default intensity normalization: Normalized", because once you start interacting with the subplots you can give them all different intensity normalization modes.

[2018-01-09 18:27] mcquin commented on #3448
I see. We can make it such that if the subplots have different normalizations, then the text updates to show the selected subplot's normalization when the mouse hovers over it. How does that sound?

[2018-01-09 21:18] dmattek opened #3451 "No output for CP3 with --get-batch-commands"
I have Batch_data.h5 file produced with CP 3.0.0. When I run:
`cellprofiler --get-batch-commands Batch_data.h5`

I don't get any output. This very same h5 parsed by CP 2.2.0 produces correct output:
`CellProfiler -c -r -b -p Batch_data.h5 -g Metadata_Site=0,Metadata_Well=B2`

Just for reference, output from CP 3.0.0 with debug level 10:
`cellprofiler -L 10 --get-batch-commands Batch_data.h5`

I ob

[2018-01-09 21:56] AnneCarpenter commented on #3448
@bethac07: how important is it that subplots can be normalized independently of each other? Because maybe THAT is what we ditch here so that we can add a single intensity normalization in the bar as per @mcquin's helpful suggestion.

In such a case, a single set of radio buttons to try different normalizations would be handy (but I suspect @bethac07 will say that you rarely want to futz with the n

[2018-01-09 22:20] bethac07 commented on #3448
@AnneCarpenter it's important to be able to tweak them independently.

I'm totally fine with any of the 3:
* Show only once you hover (as we do with X, Y, Intensity)
* Show only what the default was, you're responsible for keeping track of how you've played with things in the module (fine in 99% of cases I'd wager)
* Show the default on startup then switch behaviors after hovering.

Whatever is ea